Repository woowacourse-teams/2022-dallog, pull requests merged in 2022-10, with the labels that each got.

#687 [refactor] 패키지 순환 참조를 개선한다.
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/IntegrationSchedule.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/Subscriptions.java
Labels: backend, refactor

#688 [feat] 카테고리 역할 수정 API를 개발한다.
  backend/src/docs/asciidoc/category.adoc
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/application/CategoryRoleService.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryRole.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryRoleRepository.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryRoleType.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/dto/request/CategoryRoleUpdateRequest.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/exception/NoPermissionToManageRoleException.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/exception/NotAbleToMangeRoleException.java
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
  backend/src/main/java/com/allog/dallog/presentation/CategoryController.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/SubscriptionAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/CategoryAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/SubscriptionAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/categoryrole/application/CategoryRoleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/categoryrole/domain/CategoryRoleTest.java
  backend/src/test/java/com/allog/dallog/domain/categoryrole/domain/CategoryRoleTypeTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/MemberControllerTest.java
Labels: backend, feature

#693 [refactor] CalendarPage를 리팩토링한다.
  frontend/src/api/schedule.ts
  frontend/src/components/MoreScheduleModal/MoreScheduleModal.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.stories.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/components/SideItem/SideItem.tsx
  frontend/src/constants/index.ts
  frontend/src/constants/style.ts
  frontend/src/hooks/useCalendar.ts
  frontend/src/hooks/useModalPosition.ts
  frontend/src/hooks/useSchedulePriority.ts
  frontend/src/hooks/useValidateSchedule.ts
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/utils/date.ts
Labels: frontend, refactor, perf

#694 [feat] 카테고리와 일정에 대한 권한 검증 로직을 역할 기반으로 수정한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryAuthority.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryRole.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryRoleType.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/exception/NoCategoryAuthorityException.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/exception/NoPermissionToManageRoleException.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
  backend/src/main/resources/db/prod/schema.sql
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/categoryrole/application/CategoryRoleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/categoryrole/domain/CategoryRoleTest.java
  backend/src/test/java/com/allog/dallog/domain/categoryrole/domain/CategoryRoleTypeTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
Labels: backend, feature

#700 [refactor] 로그인 관련 query를 커스텀훅으로 분리한다.
  frontend/src/hooks/@queries/login.ts
  frontend/src/hooks/useUserValue.ts
  frontend/src/pages/AuthPage/AuthPage.tsx
  frontend/src/pages/StartPage/StartPage.tsx
Labels: frontend, refactor

#691 [feat] 단건 카테고리의 스케줄을 월별로 조회한다.
  backend/src/docs/asciidoc/schedule.adoc
  backend/src/main/java/com/allog/dallog/domain/schedule/application/CheckedSchedulesFinder.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/IntegrationScheduleResponse.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/IntegrationScheduleResponses.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/MemberScheduleResponses.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/PeriodResponse.java
  backend/src/main/java/com/allog/dallog/presentation/ScheduleController.java
  backend/src/test/java/com/allog/dallog/acceptance/ScheduleAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/ScheduleAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ScheduleFixtures.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/CheckedSchedulesFinderTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
Labels: backend, feature

#703 [refactor] 일정 관련 query를 커스텀훅으로 분리한다.
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/hooks/@queries/schedule.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, refactor

#706 [refactor] 구독 관련 query를 커스텀훅으로 분리한다.
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/components/SideItem/SideItem.tsx
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.tsx
  frontend/src/hooks/@queries/schedule.ts
  frontend/src/hooks/@queries/subscription.ts
Labels: frontend, refactor

#708 [feat] 카테고리 단 건 조회 시 구독자수를 포함하여 반환한다.
  backend/src/docs/asciidoc/category.adoc
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/category/dto/response/CategoryDetailResponse.java
  backend/src/main/java/com/allog/dallog/presentation/CategoryController.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
Labels: backend, feature

#709 [refactor] 우선 순위가 낮은 카테고리 노출 방지를 위한 카테고리 리스트 정렬을 개선한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
Labels: backend, refactor

#713 [feat] 카테고리 ADMIN 역할을 포기하더라도 자신이 생성한 카테고리라면 구독 해제가 안되는 문제를 해결한다.
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/application/CategoryRoleService.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/exception/NotAbleToChangeRoleException.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/exception/NotAbleToMangeRoleException.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/Subscription.java
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
  backend/src/test/java/com/allog/dallog/domain/categoryrole/application/CategoryRoleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
Labels: backend, bug

#726 [refactor] N + 1 문제를 개선한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryRoleRepository.java
  backend/src/main/java/com/allog/dallog/domain/externalcalendar/application/ExternalCalendarService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
Labels: backend, refactor

#730 [feat] 카테고리 조회 페이지를 변경한다.
  frontend/src/api/category.ts
  frontend/src/components/CategoryList/CategoryList.styles.ts
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.styles.ts
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.styles.ts
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.tsx
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, feature, ui

#731 [refactor] 카테고리 관련 api를 커스텀훅으로 변경한다.
  frontend/src/@types/category.ts
  frontend/src/api/category.ts
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/CategoryModifyModal/CategoryModifyModal.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/@queries/category.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, refactor

#733 [feat] 구독 카테고리 관리 모달을 구현한다.
  frontend/src/@types/category.ts
  frontend/src/components/AdminCategoryManageModal/AdminCategoryManageModal.styles.ts
  frontend/src/components/AdminCategoryManageModal/AdminCategoryManageModal.tsx
  frontend/src/components/AdminItem/AdminItem.styles.ts
  frontend/src/components/AdminItem/AdminItem.tsx
  frontend/src/components/CategoryAddModal/CategoryAddModal.styles.ts
  frontend/src/components/CategoryModifyModal/CategoryModifyModal.styles.ts
  frontend/src/components/GoogleCategoryManageModal/GoogleCategoryManageModal.styles.ts
  frontend/src/components/GoogleCategoryManageModal/GoogleCategoryManageModal.tsx
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.styles.ts
  frontend/src/components/SideAdminList/SideAdminList.styles.ts
  frontend/src/components/SideAdminList/SideAdminList.tsx
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/components/SideItem/SideItem.tsx
  frontend/src/components/SubscriberItem/SubscriberItem.styles.ts
  frontend/src/components/SubscriberItem/SubscriberItem.tsx
  frontend/src/components/SubscriptionModifyModal/SubscriptionModifyModal.tsx
  frontend/src/constants/category.ts
  frontend/src/constants/message.ts
  frontend/src/hooks/@queries/category.ts
  frontend/src/styles/GlobalStyle.tsx
Labels: frontend, feature

#723 특정 상황에서 발생하는 500 에러를 핸들링 한다.
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/ScheduleTest.java
Labels: backend, bug

#743 [fix] 카테고리 단건 조회 시 타입 체크를 제거한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryTest.java
Labels: backend, bug

#744 [refactor] 구글 캘린더 관련 query를 커스텀 훅으로 분리한다.
  frontend/src/components/GoogleImportModal/GoogleImportModal.tsx
  frontend/src/hooks/@queries/googleCalendar.ts
Labels: frontend, refactor

#741 [feat] 사이드바에서도 구독 카테고리의 구독 해제를 진행할 수 있다.
  frontend/src/components/SubscriptionModifyModal/SubscriptionModifyModal.tsx
Labels: frontend, feature

#739 [feat] 일정 추가/수정 시 카테고리 선택 목록을 편집가능 목록으로 변경한다.
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
Labels: frontend, feature

#738 [refactor] 불필요하게 join을 활용하는 조회 로직을 개선한다.
  backend/src/main/java/com/allog/dallog/domain/auth/domain/OAuthTokenRepository.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryRoleRepository.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/categoryrole/application/CategoryRoleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/categoryrole/domain/CategoryRoleRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepositoryTest.java
Labels: backend, refactor

#745 [refactor] 프로필 관련 query를 커스텀 훅으로 분리한다.
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/WithdrawalModal/WithdrawalModal.tsx
  frontend/src/hooks/@queries/category.ts
  frontend/src/hooks/@queries/googleCalendar.ts
  frontend/src/hooks/@queries/profile.ts
  frontend/src/hooks/@queries/schedule.ts
  frontend/src/hooks/@queries/subscription.ts
Labels: frontend, refactor

#748 [refactor] api 모킹을 제거한다.
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/index.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/yarn.lock
Labels: frontend, refactor

#753 [feat] 자동 로그인 기능을 구현한다.
  frontend/src/api/login.ts
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/@queries/login.ts
  frontend/src/hooks/@queries/profile.ts
  frontend/src/hooks/useUserValue.ts
  frontend/src/recoil/atoms/index.ts
  frontend/src/utils/storage.ts
Labels: frontend, feature

#755 [bug] 회원탈퇴가 안되는 이슈를 해결한다.
  backend/src/main/java/com/allog/dallog/domain/category/domain/ExternalCategoryDetailRepository.java
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
Labels: backend, bug

#756 [bug] 회원탈퇴가 안되는 이슈를 해결한다.
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
Labels: backend, bug

#757 [bug] 회원탈퇴가 안되는 이슈를 추가로 해결한다.
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
Labels: backend, bug

#729 [feat] 패키지간의 순환 참조를 제거한다.
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryRole.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/exception/NoCategoryAuthorityException.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
Labels: backend, refactor

#760 [fix] 복수 일정이 달력에 제대로 렌더링 되지 않는 에러를 해결한다.
  frontend/src/hooks/useSchedulePriority.ts
Labels: frontend, bug

#766 [bug] 회원가입시 '내 일정' 카테고리가 일정 추가 대상 카테고리에 보이지 않는다.
  backend/src/main/java/com/allog/dallog/domain/auth/application/AuthService.java
  backend/src/test/java/com/allog/dallog/domain/auth/application/AuthServiceTest.java
Labels: backend, bug

#770 [bug] 회원 탈퇴 로직을 변경한다.
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryRoleRepository.java
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/ScheduleRepository.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
Labels: backend, bug

#776 [feat] 카테고리 단건 조회 기능을 구현한다.
  frontend/src/@types/category.ts
  frontend/src/components/CategoryList/CategoryList.styles.ts
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.styles.ts
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.styles.ts
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/@queries/category.ts
  frontend/src/hooks/useHoverCategoryItem.ts
Labels: frontend, feature, ui

#771 [bug] 회원 탈퇴가 실패하는 버그를 해결한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryRoleRepository.java
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  frontend/package-lock.json
Labels: backend, bug

#779 [feat] 회원 탈퇴 버튼을 제거한다. (임시)
  frontend/src/components/Profile/Profile.tsx
  frontend/src/hooks/@queries/category.ts
Labels: frontend, feature

#789 [fix] 회원가입 시 nickname의 글자 제한을 늘린다.
  backend/src/main/java/com/allog/dallog/domain/member/domain/Member.java
  backend/src/test/java/com/allog/dallog/domain/member/domain/MemberTest.java
Labels: backend, bug

#787 [feat] 스프링 부트 time zone을 Asia/Seoul로 설정한다.
  backend/src/main/java/com/allog/dallog/global/config/TimeZoneConfig.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
Labels: setting

#812 [fix] 일정이 넘쳐 보이는 달력 에러를 해결한다.
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: bug, feature, ui

#813 [fix] 카테고리 구독 시 일정이 바로 보이지 않는 에러를 해결한다.
  frontend/src/hooks/@queries/category.ts
  frontend/src/hooks/@queries/schedule.ts
  frontend/src/hooks/@queries/subscription.ts
Labels: frontend, bug

#814 [feat] 프로필 이름 수정 시 제약 조건을 추가한다.
  frontend/src/components/@common/Fieldset/Fieldset.styles.ts
  frontend/src/components/AdminItem/AdminItem.styles.ts
  frontend/src/components/AdminItem/AdminItem.tsx
  frontend/src/components/Profile/Profile.styles.ts
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.styles.ts
  frontend/src/components/SubscriberItem/SubscriberItem.styles.ts
  frontend/src/components/SubscriberItem/SubscriberItem.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.styles.ts
  frontend/src/constants/validate.ts
  frontend/src/utils/index.ts
Labels: frontend, feature

#810 [fix] 내가 유일한 ADMIN인 카테고리를 카테고리 페이지에서 구독해제시 발생하는 에러를 수정한다.
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
Labels: backend

#815 [feat] 일정 추가 모달과 구글 카테고리 추가 모달의 select 요소를 컴포넌트로 대체한다.
  frontend/src/components/@common/Fieldset/Fieldset.styles.ts
  frontend/src/components/@common/Select/Select.stories.tsx
  frontend/src/components/@common/Select/Select.tsx
  frontend/src/components/GoogleImportModal/GoogleImportModal.styles.ts
  frontend/src/components/GoogleImportModal/GoogleImportModal.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.styles.ts
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
Labels: frontend, bug, feature, refactor

#817 [fix] 사이드 바에서 구독 카테고리 목록이 잘리는 에러를 해결한다.
  frontend/src/components/SideAdminList/SideAdminList.styles.ts
  frontend/src/components/SideAdminList/SideAdminList.tsx
  frontend/src/components/SideGoogleList/SideGoogleList.styles.ts
  frontend/src/components/SideGoogleList/SideGoogleList.tsx
  frontend/src/components/SideItem/SideItem.styles.ts
  frontend/src/components/SideSubscribedList/SideSubscribedList.styles.ts
  frontend/src/components/SideSubscribedList/SideSubscribedList.tsx
Labels: frontend, bug, ui

#818 [feat] 관리 모달에서 카테고리 이름 수정 시 피드백을 제공한다.
  frontend/src/constants/message.ts
  frontend/src/hooks/@queries/category.ts
  frontend/src/hooks/@queries/googleCalendar.ts
  frontend/src/hooks/@queries/login.ts
  frontend/src/hooks/@queries/profile.ts
  frontend/src/hooks/@queries/schedule.ts
  frontend/src/hooks/@queries/subscription.ts
Labels: frontend, feature

#819 [feat] 카테고리의 관리자가 한 명인 경우 관리 모달에서 권한 포기 영역을 제거한다.
  frontend/src/components/AdminCategoryManageModal/AdminCategoryManageModal.styles.ts
  frontend/src/components/AdminCategoryManageModal/AdminCategoryManageModal.tsx
Labels: frontend, feature

#821 [fix] 카테고리 페이지에서 카테고리 구독 시 구독 수가 증가하도록 재요청한다.
  frontend/src/hooks/@queries/subscription.ts
Labels: frontend, bug

#823 [fix] 구글 카테고리 생성 직후 관리 버튼이 보이지 않는 에러를 해결한다.
  frontend/src/hooks/@queries/googleCalendar.ts
Labels: frontend, bug

#824 [fix] 띄어쓰기만 있는 일정 제목을 (제목없음)으로 표시한다.
  frontend/src/components/MoreScheduleModal/MoreScheduleModal.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, bug, ui

#828 [feat] 달록의 웹접근성을 개선한다.
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, feature

#832 [fix] jenkins 빌드 명령어를 수정한다.
  jenkins/frontend-dev.jenkinsfile
Labels: frontend, bug, chore

#836 [chore] webpack 설정 및 typescript 컴파일 전략을 세운다.
  frontend/package.json
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: frontend, setting, chore

#830 [feat] 무중단 배포를 구현한다.
  jenkins/backend-dev.jenkinsfile
  jenkins/backend-prod.jenkinsfile
Labels: backend, devops

#826 [refactor] 전체 기능의 Dto 검증을 위한 애노테이션을 컨트롤러에 추가한다.
  backend/src/main/java/com/allog/dallog/domain/category/dto/request/CategoryUpdateRequest.java
  backend/src/main/java/com/allog/dallog/domain/category/dto/request/ExternalCategoryCreateRequest.java
  backend/src/main/java/com/allog/dallog/domain/member/dto/request/MemberUpdateRequest.java
  backend/src/main/java/com/allog/dallog/domain/subscription/dto/request/SubscriptionUpdateRequest.java
  backend/src/main/java/com/allog/dallog/presentation/CategoryController.java
  backend/src/main/java/com/allog/dallog/presentation/ExternalCalendarController.java
  backend/src/main/java/com/allog/dallog/presentation/MemberController.java
  backend/src/main/java/com/allog/dallog/presentation/SubscriptionController.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
Labels: backend, refactor

#841 [fix] 일정 더보기의 말줄임 표시를 추가한다.
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
Labels: frontend, bug

#842 [fix] 사이드바 카테고리 목록이 없는 경우 관련 문구를 표시한다.
  frontend/src/components/SideGoogleList/SideGoogleList.styles.ts
  frontend/src/components/SideSubscribedList/SideSubscribedList.styles.ts
Labels: frontend, bug

#840 [feat] 에러 바운더리 페이지를 구현한다.
  frontend/src/App.tsx
  frontend/src/components/@common/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/pages/ErrorPage/ErrorPage.styles.ts
  frontend/src/pages/ErrorPage/ErrorPage.tsx
  frontend/src/pages/NotFoundPage/NotFoundPage.tsx
Labels: frontend, feature

#845 [fix] 스낵바 메세지가 남아있는 에러를 해결한다.
  frontend/src/components/SnackBar/SnackBar.styles.ts
  frontend/src/components/SnackBar/SnackBar.tsx
Labels: frontend, bug

#835 [feat] 동작하지 않는 스프링 부트 time zone 설정 코드를 제거한다.
  backend/src/main/java/com/allog/dallog/global/config/TimeZoneConfig.java
Labels: backend, bug, setting

#850 [refactor] Lazy Import를 적절하게 적용한다.
  frontend/src/App.tsx
Labels: frontend, refactor

#822 [fix] 자신이 생성했던 카테고리를 관리 권한이 없는 상태에서 구독해제 하지 못하는 에러를 해결한다.
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.styles.ts
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/constants/message.ts
Labels: frontend, bug

#852 [feat] 카테고리 페이지를 개선한다.
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, feature

#851 카테고리 조회에서 페이지네이션을 제거한다.
  backend/src/docs/asciidoc/category.adoc
  backend/src/docs/asciidoc/external-calendar.adoc
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/category/dto/response/CategoriesWithPageResponse.java
  backend/src/main/java/com/allog/dallog/presentation/CategoryController.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/CategoryAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/ExternalCalendarControllerTest.java
Labels: backend, refactor

#855 [refactor] 카테고리 목록을 한 번에 불러오도록 변경한다.
  frontend/src/@types/category.ts
  frontend/src/api/category.ts
  frontend/src/components/CategoryList/CategoryList.styles.ts
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/hooks/@queries/category.ts
Labels: frontend, refactor

#858 [style] 검색 버튼을 보이게 한다.
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
Labels: frontend, bug, ui

#848 [refactor] 외부 리소스 요청을 트랜잭션 내에서 분리한다.
  backend/src/main/java/com/allog/dallog/domain/auth/application/AuthService.java
  backend/src/main/java/com/allog/dallog/domain/externalcalendar/application/ExternalCalendarService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/CheckedSchedulesFinder.java
  backend/src/main/java/com/allog/dallog/presentation/auth/AuthController.java
  backend/src/test/java/com/allog/dallog/common/annotation/ServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/auth/application/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/application/ExternalCategoryDetailServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/CheckedSchedulesFinderTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/AuthControllerTest.java
Labels: backend, refactor

#849 [refactor] 회원 탈퇴 기능을 제거한다.
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/member/domain/Member.java
  backend/src/main/java/com/allog/dallog/presentation/MemberController.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/MemberControllerTest.java
Labels: backend, refactor

#866 [fix] 카테고리 목록 리스트 길이가 변하는 에러를 해결한다.
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
Labels: frontend, bug

#870 [feat] 401 발생 시 자동 로그인이 되도록 한다.
  frontend/src/App.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/message.ts
  frontend/src/hooks/@queries/login.ts
  frontend/src/index.tsx
Labels: frontend, feature

#867 [fix] 일정이 10개 이상 쌓이면 일정 더보기가 나오지 않는 에러를 해결한다.
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, bug

#873 [feat] 젠킨스 분산 빌드 환경을 구축한다.
  jenkins/backend-dev.jenkinsfile
  jenkins/backend-prod.jenkinsfile
  jenkins/frontend-dev.jenkinsfile
  jenkins/frontend-prod.jenkinsfile
Labels: backend, frontend, devops

#871 [refactor] 용어를 통일하고 예외 메시지를 수정한다.
  backend/src/main/java/com/allog/dallog/domain/auth/application/JwtTokenProvider.java
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryType.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/application/CategoryRoleService.java
  backend/src/main/java/com/allog/dallog/domain/member/domain/Member.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/request/DateRangeRequest.java
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleExternalCalendarClient.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleOAuthClient.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/exception/OAuthException.java
  backend/src/test/java/com/allog/dallog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/domain/auth/application/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/auth/application/StubTokenProvider.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/application/ExternalCategoryDetailServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryTest.java
  backend/src/test/java/com/allog/dallog/domain/categoryrole/application/CategoryRoleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/CheckedSchedulesFinderTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
Labels: backend, refactor

#865 [refactor] 회원 탈퇴와 관련한 불필요한 코드를 제거한다.
  backend/src/main/java/com/allog/dallog/domain/auth/dto/response/AccessTokenResponse.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/test/java/com/allog/dallog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/MemberAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/AuthFixtures.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/MemberControllerTest.java
Labels: backend, feature

#877 [fix] 일정 상세 모달에서 메모가 넘쳐흐르는 에러를 해결한다.
  frontend/src/components/ScheduleModal/ScheduleModal.styles.ts
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
Labels: frontend, bug

#879 [style] 반응형 스타일을 적용한다.
  frontend/src/@types/emotion.d.ts
  frontend/src/components/@common/Fieldset/Fieldset.styles.ts
  frontend/src/components/@common/PageLayout/PageLayout.styles.ts
  frontend/src/components/@common/PageLayout/PageLayout.tsx
  frontend/src/components/@common/Responsive/Responsive.styles.ts
  frontend/src/components/@common/Responsive/Responsive.tsx
  frontend/src/components/@common/Select/Select.styles.ts
  frontend/src/components/@common/Skeleton/Skeleton.styles.ts
  frontend/src/components/AdminCategoryManageModal/AdminCategoryManageModal.styles.ts
  frontend/src/components/CategoryAddModal/CategoryAddModal.styles.ts
  frontend/src/components/CategoryModifyModal/CategoryModifyModal.styles.ts
  frontend/src/components/Footer/Footer.styles.ts
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/GoogleCategoryManageModal/GoogleCategoryManageModal.styles.ts
  frontend/src/components/GoogleImportModal/GoogleImportModal.styles.ts
  frontend/src/components/MoreScheduleModal/MoreScheduleModal.styles.ts
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/Profile/Profile.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleModal/ScheduleModal.styles.ts
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.styles.ts
  frontend/src/components/SideAdminList/SideAdminList.tsx
  frontend/src/components/SideGoogleList/SideGoogleList.tsx
  frontend/src/components/SideItem/SideItem.tsx
  frontend/src/components/SideSubscribedList/SideSubscribedList.tsx
  frontend/src/components/SnackBar/SnackBar.styles.ts
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.styles.ts
  frontend/src/components/SubscriptionModifyModal/SubscriptionModifyModal.styles.ts
  frontend/src/components/SubscriptionModifyModal/SubscriptionModifyModal.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.styles.ts
  frontend/src/components/WithdrawalModal/WithdrawalModal.styles.ts
  frontend/src/constants/index.ts
  frontend/src/constants/style.ts
  frontend/src/index.html
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
  frontend/src/pages/ErrorPage/ErrorPage.styles.ts
  frontend/src/pages/NotFoundPage/NotFoundPage.styles.ts
  frontend/src/pages/StartPage/StartPage.styles.ts
  frontend/src/pages/StartPage/StartPage.tsx
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/styles/theme.ts
  frontend/src/utils/index.ts
Labels: frontend, ui

#878 [fix] 카테고리 페이지 달력에서 다른 달 미리보기가 되지 않는 에러를 해결한다.
  frontend/src/hooks/@queries/category.ts
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, bug

#881 [fix] UI 에러를 수정한다.
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
Labels: frontend, bug, ui

#883 [fix] UI 에러를 수정한다.
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.styles.ts
Labels: frontend, ui

#884 [fix] 일정 생성 시 발생하는 에러를 해결한다.
  frontend/src/hooks/useValidateSchedule.ts
Labels: frontend, bug

#885 [release] v1.1.5
  README.md
  frontend/src/@types/emotion.d.ts
  frontend/src/components/@common/Fieldset/Fieldset.styles.ts
  frontend/src/components/@common/PageLayout/PageLayout.styles.ts
  frontend/src/components/@common/PageLayout/PageLayout.tsx
  frontend/src/components/@common/Responsive/Responsive.styles.ts
  frontend/src/components/@common/Responsive/Responsive.tsx
  frontend/src/components/@common/Select/Select.styles.ts
  frontend/src/components/@common/Skeleton/Skeleton.styles.ts
  frontend/src/components/AdminCategoryManageModal/AdminCategoryManageModal.styles.ts
  frontend/src/components/CategoryAddModal/CategoryAddModal.styles.ts
  frontend/src/components/CategoryModifyModal/CategoryModifyModal.styles.ts
  frontend/src/components/Footer/Footer.styles.ts
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/GoogleCategoryManageModal/GoogleCategoryManageModal.styles.ts
  frontend/src/components/GoogleImportModal/GoogleImportModal.styles.ts
  frontend/src/components/MoreScheduleModal/MoreScheduleModal.styles.ts
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/Profile/Profile.styles.ts
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleModal/ScheduleModal.styles.ts
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.styles.ts
  frontend/src/components/SideAdminList/SideAdminList.tsx
  frontend/src/components/SideGoogleList/SideGoogleList.tsx
  frontend/src/components/SideItem/SideItem.tsx
  frontend/src/components/SideSubscribedList/SideSubscribedList.tsx
  frontend/src/components/SnackBar/SnackBar.styles.ts
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.styles.ts
  frontend/src/components/SubscriptionModifyModal/SubscriptionModifyModal.styles.ts
  frontend/src/components/SubscriptionModifyModal/SubscriptionModifyModal.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.styles.ts
  frontend/src/components/WithdrawalModal/WithdrawalModal.styles.ts
  frontend/src/constants/index.ts
  frontend/src/constants/style.ts
  frontend/src/hooks/@queries/category.ts
  frontend/src/hooks/useValidateSchedule.ts
  frontend/src/index.html
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
  frontend/src/pages/ErrorPage/ErrorPage.styles.ts
  frontend/src/pages/NotFoundPage/NotFoundPage.styles.ts
  frontend/src/pages/StartPage/StartPage.styles.ts
  frontend/src/pages/StartPage/StartPage.tsx
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/styles/theme.ts
  frontend/src/utils/index.ts
Labels: release

#890 [style] 사이드바의 스크롤바를 호버했을때 나오도록 수정한다.
  frontend/src/components/CategoryList/CategoryList.styles.ts
  frontend/src/components/SideBar/SideBar.styles.ts
  frontend/src/styles/GlobalStyle.tsx
Labels: frontend, ui

#891 [feat] 화면 resize 이벤트에 따라 반응형을 재조정한다.
  frontend/src/components/SideAdminList/SideAdminList.tsx
  frontend/src/components/SideGoogleList/SideGoogleList.tsx
  frontend/src/components/SideItem/SideItem.tsx
  frontend/src/components/SideSubscribedList/SideSubscribedList.tsx
  frontend/src/components/SubscriptionModifyModal/SubscriptionModifyModal.tsx
  frontend/src/hooks/useRootFontSize.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/CategoryPage/CategoryPage.tsx
  frontend/src/utils/index.ts
Labels: frontend, feature

#892 [feat] Suspense를 재작성한다.
  frontend/src/@types/category.ts
  frontend/src/@types/schedule.ts
  frontend/src/@types/util.ts
  frontend/src/App.tsx
  frontend/src/components/@common/PageLayout/PageLayout.styles.ts
  frontend/src/components/@common/PageLayout/PageLayout.tsx
  frontend/src/components/CategoryList/CategoryList.fallback.tsx
  frontend/src/components/ProtectRoute/ProtectRoute.tsx
  frontend/src/components/SideBar/SideBar.fallback.stories.tsx
  frontend/src/components/SideBar/SideBar.fallback.tsx
  frontend/src/components/SideBar/SideBar.styles.ts
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/constants/style.ts
  frontend/src/hooks/@queries/category.ts
  frontend/src/hooks/@queries/subscription.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/CategoryPage/CategoryPage.tsx
  frontend/src/pages/MainPage/MainPage.tsx
  frontend/src/pages/NotFoundPage/NotFoundPage.tsx
  frontend/src/recoil/atoms/index.ts
Labels: frontend, feature
