Repository woowacourse-teams/2022-dallog, pull requests merged in 2022-09, with the labels that each got.

#534 [docs] README 기술스택의 오타를 수정하고 새로운 기술을 추가한다.
  README.md
Labels: document

#549 일정 추가 모달에서 카테고리 select 요소를 아래쪽으로 옮긴다.
  .github/workflows/frontend-ci.yml
  frontend/.eslintrc.json
  frontend/public/mockServiceWorker.js
  frontend/src/@types/emotion.d.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/yarn.lock
Labels: frontend, ui

#551 [fix] 구글 캘린더 구독 및 색상 변경 시 발생하는 에러를 해결한다.
  frontend/src/hooks/useUserValue.ts
Labels: frontend, bug

#552 [feat] 스피너 위치 이동 및 카테고리 이름 클릭 시 check 설정 추가
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.tsx
Labels: frontend, feature

#563 [feat] 카테고리 페이지에서 나의 카테고리 목록을 제거한다.
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, feature, ui

#556 [feat]회원 탈퇴 기능을 구현한다.
  frontend/src/api/profile.ts
  frontend/src/components/Profile/Profile.styles.ts
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/WithdrawalModal/WithdrawalModal.stories.tsx
  frontend/src/components/WithdrawalModal/WithdrawalModal.styles.ts
  frontend/src/components/WithdrawalModal/WithdrawalModal.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/validate.ts
  frontend/src/validation/index.ts
Labels: frontend, feature

#562 [ci] publish-unit-test-result-action workflow가 올바르게 동작하도록 수정한다.
  .github/workflows/backend-ci.yml
Labels: backend, test, devops

#559 [feat] 소나큐브 Ruleset를 달록 컨벤션에 맞게 수정한다.
  backend/build.gradle
Labels: backend, devops

#569 [fix] 닉네임 수정 버튼 클릭 시 닉네임 입력창과 계정 텍스트가 겹치는 에러를 수정한다.
  frontend/src/components/Profile/Profile.tsx
Labels: frontend, bug, ui

#568 [feat] 종일 버튼을 개선한다.
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.styles.ts
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
Labels: frontend, ui

#573 [feat] 사이드 바의 카테고리 목록을 분리하고 각 목록을 아코디언 메뉴로 변경한다.
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.styles.ts
  frontend/src/components/FilterCategoryList/FilterCategoryList.fallback.stories.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.fallback.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.styles.ts
  frontend/src/components/FilterCategoryList/FilterCategoryList.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/components/SideGoogleList/SideGoogleList.styles.ts
  frontend/src/components/SideGoogleList/SideGoogleList.tsx
  frontend/src/components/SideItem/SideItem.styles.ts
  frontend/src/components/SideItem/SideItem.tsx
  frontend/src/components/SideMyList/SideMyList.styles.ts
  frontend/src/components/SideMyList/SideMyList.tsx
  frontend/src/components/SideSubscribedList/SideSubscribedList.styles.ts
  frontend/src/components/SideSubscribedList/SideSubscribedList.tsx
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/components/SubscriptionModifyModal/SubscriptionModifyModal.styles.ts
  frontend/src/components/SubscriptionModifyModal/SubscriptionModifyModal.tsx
  frontend/src/hooks/useModalPosition.ts
  frontend/src/hooks/useUserValue.ts
  frontend/src/recoil/atoms/index.ts
Labels: frontend, feature, ui

#579 [release] v1.0.1
  .github/workflows/backend-ci.yml
  backend/build.gradle
  frontend/src/api/profile.ts
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.styles.ts
  frontend/src/components/FilterCategoryList/FilterCategoryList.fallback.stories.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.fallback.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.styles.ts
  frontend/src/components/FilterCategoryList/FilterCategoryList.tsx
  frontend/src/components/Profile/Profile.styles.ts
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.styles.ts
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/components/SideGoogleList/SideGoogleList.styles.ts
  frontend/src/components/SideGoogleList/SideGoogleList.tsx
  frontend/src/components/SideItem/SideItem.styles.ts
  frontend/src/components/SideItem/SideItem.tsx
  frontend/src/components/SideMyList/SideMyList.styles.ts
  frontend/src/components/SideMyList/SideMyList.tsx
  frontend/src/components/SideSubscribedList/SideSubscribedList.styles.ts
  frontend/src/components/SideSubscribedList/SideSubscribedList.tsx
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/components/SubscriptionModifyModal/SubscriptionModifyModal.styles.ts
  frontend/src/components/SubscriptionModifyModal/SubscriptionModifyModal.tsx
  frontend/src/components/WithdrawalModal/WithdrawalModal.stories.tsx
  frontend/src/components/WithdrawalModal/WithdrawalModal.styles.ts
  frontend/src/components/WithdrawalModal/WithdrawalModal.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/validate.ts
  frontend/src/hooks/useModalPosition.ts
  frontend/src/hooks/useUserValue.ts
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
  frontend/src/recoil/atoms/index.ts
  frontend/src/validation/index.ts
Labels: release

#580 [fix] 로그인 사용자의 요청에 대한 권한 없음 에러를 처리한다.
  frontend/src/App.tsx
  frontend/src/components/PublicRoute/PublicRoute.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/useUserValue.ts
  frontend/src/pages/AuthPage/AuthPage.tsx
  frontend/src/pages/MainPage/MainPage.tsx
Labels: frontend, bug, refactor, perf

#577 [feat] 회원 가입 및 회원 삭제 발생하는 순환 참조 구조를 개선한다.
  backend/src/main/java/com/allog/dallog/domain/auth/application/AuthService.java
  backend/src/main/java/com/allog/dallog/domain/auth/domain/OAuthTokenRepository.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/RegisterService.java
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/member/domain/MemberRepository.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/ColorPicker.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/RandomColorPicker.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/Color.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/ColorPickerStrategy.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/main/java/com/allog/dallog/presentation/MemberController.java
  backend/src/test/java/com/allog/dallog/common/annotation/ServiceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/AuthFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/OAuthFixtures.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CalendarServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CategorySubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/RegisterServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/SchedulerServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/ColorTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepositoryTest.java
  backend/src/test/java/com/allog/dallog/infrastructure/oauth/client/StubOAuthClient.java
  backend/src/test/java/com/allog/dallog/presentation/MemberControllerTest.java
Labels: backend, feature, refactor

#584 [refactor] 구독과 관련한 ServiceLayer의 구조를 개선한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/member/domain/Member.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/Subscription.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/main/java/com/allog/dallog/domain/subscription/dto/response/SubscriptionResponse.java
  backend/src/main/java/com/allog/dallog/presentation/SubscriptionController.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepositoryTest.java
  backend/src/test/java/com/allog/dallog/presentation/SubscriptionControllerTest.java
Labels: backend, refactor

#587 [refactor] 일정과 관련한 ServiceLayer의 구조를 개선한다.
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/member/domain/Member.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/ScheduleRepository.java
  backend/src/main/java/com/allog/dallog/domain/subscription/dto/response/SubscriptionResponse.java
  backend/src/main/java/com/allog/dallog/presentation/ScheduleController.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
Labels: backend, refactor

#570 [refactor] REST docs의 코드 스타일을 통일한다.
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/category.adoc
  backend/src/docs/asciidoc/external-calendar.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/docs/asciidoc/schedule.adoc
  backend/src/docs/asciidoc/subscription.adoc
  backend/src/test/java/com/allog/dallog/presentation/AuthControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/ExternalCalendarControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/MemberControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/SchedulerControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/SubscriptionControllerTest.java
Labels: backend, refactor, test

#594 [ci] Github actions 테스트 커버리지 표시 플러그인을 제거한다.
  .github/workflows/backend-ci.yml
Labels: backend, devops, chore

#589 [refactor] 카테고리와 관련한 ServiceLayer의 구조를 개선한다
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/ExternalCategoryDetailRepository.java
  backend/src/main/java/com/allog/dallog/domain/category/dto/request/CategoryCreateRequest.java
  backend/src/main/java/com/allog/dallog/domain/category/dto/response/CategoriesResponse.java
  backend/src/main/java/com/allog/dallog/domain/category/exception/DuplicatedExternalCategoryException.java
  backend/src/main/java/com/allog/dallog/domain/category/exception/ExistExternalCategoryException.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
  backend/src/main/java/com/allog/dallog/presentation/CategoryController.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CalendarServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepositoryTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/ExternalCalendarControllerTest.java
Labels: backend, refactor

#599 [refactor] CategorySubscriptionService를 제거한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/CategorySubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/presentation/CategoryController.java
  backend/src/main/java/com/allog/dallog/presentation/ExternalCalendarController.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CalendarServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CategorySubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/SchedulerServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/ExternalCalendarControllerTest.java
Labels: backend, refactor

#597 [test] 쿼리 분석 중 application 계층의 메서드에 누락된 테스트를 추가한다.
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
Labels: backend, test

#605 [perf] react query 설정을 변경한다.
  frontend/src/App.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/hooks/useControlledInput.ts
  frontend/src/hooks/useUserValue.ts
Labels: frontend, setting, perf

#603 [feat] Date Time Picker 기능을 구현한다.
  frontend/src/components/@common/Fieldset/Fieldset.tsx
  frontend/src/components/@common/Select/Select.stories.tsx
  frontend/src/components/@common/Select/Select.styles.ts
  frontend/src/components/@common/Select/Select.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.styles.ts
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/constants/date.ts
  frontend/src/constants/style.ts
  frontend/src/hooks/useValidateSchedule.ts
  frontend/src/pages/SchedulingPage/SchedulingPage.tsx
  frontend/src/utils/date.ts
Labels: frontend, feature

#610 [feat] 랜딩 페이지의 두 번째 섹션을 삭제한다.
  frontend/src/assets/how_to_use_1.png
  frontend/src/assets/how_to_use_2.png
  frontend/src/assets/how_to_use_3.png
  frontend/src/pages/StartPage/StartPage.styles.ts
  frontend/src/pages/StartPage/StartPage.tsx
Labels: frontend, ui

#607 [refactor] CalenderService에서 월별 일정 조회 로직을 제거한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/ExternalCategoryDetailService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/ExternalCategoryDetailRepository.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/CalendarService.java
  backend/src/main/java/com/allog/dallog/domain/integrationschedule/domain/IntegrationSchedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/SubscribingSchedulesFinder.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/ScheduleRepository.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/Subscription.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/Subscriptions.java
  backend/src/main/java/com/allog/dallog/presentation/ScheduleController.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/domain/category/application/ExternalCategoryDetailServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/ExternalCategoryDetailRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CalendarServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/SubscribingSchedulesFinderTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/SubscriptionsTest.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
Labels: backend, refactor

#613 [fix] OAuthAccessTokenResponse이 정상적으로 맵핑되지 않는 문제를 해결한다.
  backend/src/main/java/com/allog/dallog/domain/auth/dto/response/OAuthAccessTokenResponse.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/CalendarService.java
  backend/src/main/java/com/allog/dallog/domain/externalcalendar/application/ExternalCalendarService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/SubscribingSchedulesFinder.java
Labels: backend, bug

#606 [test] 테스트 환경 설정을 분리한다.
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/logback-spring.xml
  backend/src/test/java/com/allog/dallog/acceptance/AcceptanceTest.java
  backend/src/test/java/com/allog/dallog/common/annotation/RepositoryTest.java
  backend/src/test/java/com/allog/dallog/common/annotation/ServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/integrationschedule/dao/IntegrationScheduleDaoTest.java
  backend/src/test/java/com/allog/dallog/presentation/ControllerTest.java
  backend/src/test/resources/application.yml
Labels: backend, test

#617 [refactor] Schedule과 IntegrationSchedule 관련 패키지를 통합한다.
  backend/build.gradle
  backend/src/main/java/com/allog/dallog/domain/composition/application/CalendarService.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/SchedulerService.java
  backend/src/main/java/com/allog/dallog/domain/externalcalendar/application/ExternalCalendarClient.java
  backend/src/main/java/com/allog/dallog/domain/integrationschedule/dao/IntegrationScheduleDao.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/SubscribingSchedulesFinder.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/IntegrationSchedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/IntegrationScheduleComparator.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/IntegrationSchedules.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Period.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/ScheduleRepository.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/ScheduleType.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/TypedSchedules.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/scheduler/Scheduler.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/MemberScheduleResponse.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/MemberScheduleResponses.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/PeriodResponse.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/Subscriptions.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleExternalCalendarClient.java
  backend/src/test/java/com/allog/dallog/common/fixtures/IntegrationScheduleFixtures.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CalendarServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/integrationschedule/dao/IntegrationScheduleDaoTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/IntegrationScheduleTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/IntegrationSchedulesTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/PeriodTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/scheduler/SchedulerTest.java
  backend/src/test/java/com/allog/dallog/infrastructure/oauth/client/StubExternalCalendarClient.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/SchedulerControllerTest.java
Labels: backend, refactor

#614 [refactor] 종일 일정의 endDateTime을 11시 59분에서 다음 날 00시 00분으로 변경한다.
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/IntegrationSchedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Period.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleExternalCalendarClient.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/dto/GoogleCalendarEventResponse.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ScheduleFixtures.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/SubscribingSchedulesFinderTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/IntegrationScheduleTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/PeriodTest.java
Labels: backend, refactor

#619 [refactor] 외부 일정 검증 로직을 개선한다.
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/IntegrationSchedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/ScheduleRepository.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/ScheduleRepositoryTest.java
Labels: backend, refactor

#627 [fix] 종일 일정의 종료 시각을 다음 날 00:00으로 변경한다.
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/constants/date.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/utils/date.ts
Labels: frontend, feature

#629 [style] 달력의 전체 높이를 사용자 화면의 높이에 맞춘다.
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
Labels: frontend, ui

#611 [feat] 일정을 수정 할 때, 일정의 카테고리도 수정 가능하도록 변경한다.
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/request/ScheduleUpdateRequest.java
  backend/src/test/java/com/allog/dallog/acceptance/ScheduleAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
Labels: backend, feature

#638 [feat] 일정 수정 시 카테고리도 수정할 수 있도록 변경한다.
  frontend/src/@types/index.ts
  frontend/src/components/@common/Select/Select.styles.ts
  frontend/src/components/@common/Select/Select.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.styles.ts
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
Labels: frontend, feature

#641 [fix] 라우팅 에러를 수정한다.
  frontend/src/App.tsx
Labels: frontend, bug

#643 [fix] 일정 수정 시 종일을 파악하지 못하는 에러를 해결한다.
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/constants/date.ts
  frontend/src/utils/date.ts
Labels: frontend, bug

#647 [fix] 일정 수정 시 여러 일에 걸친 일정에 대해 날짜 입력 필드가 제대로 동작하지 않는 에러를 해결한다.
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
Labels: frontend, bug, ui

#649 [perf] http 요청 수를 줄인다.
  frontend/src/components/SideBar/SideBar.tsx
Labels: frontend, perf

#651 [perf] TTI(Time To Interactive)를 개선한다.
  frontend/src/index.html
  frontend/src/styles/GlobalStyle.tsx
Labels: frontend, perf

#653 [perf] layout shift를 제거한다.
  frontend/src/pages/StartPage/StartPage.styles.ts
Labels: frontend, perf

#655 [fix] 종일 일정에 대한 일정 우선순위 계산 에러를 해결한다 & 일정 수정 시 구글 카테고리를 선택할 수 없도록 수정한다.
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/hooks/useSchedulePriority.ts
Labels: frontend, bug

#658 [refactor] 불필요한 파일 및 코드를 제거한다.
  frontend/src/@types/scheduler.ts
  frontend/src/App.tsx
  frontend/src/api/scheduler.ts
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/index.ts
  frontend/src/pages/SchedulingPage/SchedulingPage.styles.ts
  frontend/src/pages/SchedulingPage/SchedulingPage.tsx
Labels: frontend, refactor

#660 [fix] 종일 체크박스를 제어 컴포넌트에서 제외 대상을 선정한다.
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
Labels: frontend, bug

#630 [refactor] 일정 조율 기능을 제거한다.
  backend/src/main/java/com/allog/dallog/domain/composition/application/CalendarService.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/SchedulerService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/main/java/com/allog/dallog/presentation/SchedulerController.java
  backend/src/test/java/com/allog/dallog/acceptance/SchedulerAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CalendarServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/SchedulerServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/ScheduleRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepositoryTest.java
  backend/src/test/java/com/allog/dallog/presentation/SchedulerControllerTest.java
Labels: backend, feature, refactor

#664 [hotfix] react query stale time 설정으로 인한 정보 업데이트 지연을 해결한다.
  frontend/src/App.tsx
  frontend/src/hooks/useUserValue.ts
Labels: frontend, bug

#657 [refactor] 자신의 일정을 조회하는 기능을 개선한다.
  backend/src/main/java/com/allog/dallog/domain/schedule/application/CheckedSchedulesFinder.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/SubscribingSchedulesFinder.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/MaterialToFindSchedules.java
  backend/src/main/java/com/allog/dallog/presentation/ScheduleController.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/CheckedSchedulesFinderTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
Labels: backend, refactor

#679 [refactor] 토큰 발급시 AccessToken과 RefreshToken을 모두 발급한다.
  backend/src/main/java/com/allog/dallog/domain/auth/application/AuthService.java
  backend/src/main/java/com/allog/dallog/domain/auth/domain/InMemoryTokenRepository.java
  backend/src/main/java/com/allog/dallog/domain/auth/domain/TokenRepository.java
  backend/src/main/java/com/allog/dallog/domain/auth/dto/response/TokenResponse.java
  backend/src/test/java/com/allog/dallog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/common/config/TokenConfig.java
  backend/src/test/java/com/allog/dallog/common/fixtures/AuthFixtures.java
  backend/src/test/java/com/allog/dallog/domain/auth/application/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/auth/domain/InMemoryTokenRepositoryTest.java
  backend/src/test/java/com/allog/dallog/presentation/AuthControllerTest.java
Labels: backend, feature

#685 [feat] 카테고리 구독시 역할을 생성하고, 구독 해제시 역할을 제거한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryAuthority.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryRole.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryRoleRepository.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/domain/CategoryRoleType.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/exception/NoSuchCategoryRoleException.java
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/exception/NotAbleToUnsubscribeException.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/categoryrole/CategoryRoleTest.java
  backend/src/test/java/com/allog/dallog/domain/categoryrole/CategoryRoleTypeTest.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
Labels: backend, feature
