Repository woowacourse-teams/2022-dallog, pull requests merged in 2022-08, with the labels that each got.

#178 [test] Category에 대한 컨트롤러 테스트를 추가한다.
  backend/src/docs/asciidoc/category.adoc
  backend/src/docs/asciidoc/subscription.adoc
  backend/src/test/java/com/allog/dallog/domain/category/presentation/CategoryControllerTest.java
Labels: backend, test, document

#193 [feat] 로그아웃 기능을 구현한다.
  frontend/src/constants/index.ts
  frontend/src/pages/MyPage/MyPage.styles.ts
  frontend/src/pages/MyPage/MyPage.tsx
  frontend/src/styles/theme.ts
  frontend/src/utils/index.ts
Labels: frontend, feature

#185 [feat] 백엔드 서버 로깅 기능을 구현하고, 로그를 파일로 저장한다.
  backend/.gitignore
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
  backend/src/main/java/com/allog/dallog/global/error/Reporter.java
  backend/src/main/java/com/allog/dallog/global/error/dto/ErrorReportRequest.java
  backend/src/main/java/com/allog/dallog/global/error/dto/ErrorResponse.java
  backend/src/main/java/com/allog/dallog/infrastructure/report/DiscordReporter.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/allog/dallog/common/config/TestConfig.java
  backend/src/test/java/com/allog/dallog/domain/auth/presentation/AuthControllerTest.java
  backend/src/test/java/com/allog/dallog/domain/category/presentation/CategoryControllerTest.java
  backend/src/test/java/com/allog/dallog/domain/member/presentation/MemberControllerTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/presentation/ScheduleControllerTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/presentation/SubscriptionControllerTest.java
  backend/src/test/java/com/allog/dallog/infrastructure/oauth/report/DummyReporter.java
  backend/src/test/resources/application.yml
Labels: backend, feature

#202 [feat] 구독 시 색상 랜덤 지정을 구현한다.
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.tsx
  frontend/src/mocks/data.ts
  frontend/src/utils/index.ts
Labels: frontend, feature

#203 [feat] 구독 생성 시 필터링을 위한 체크 필드를 추가한다.
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/Subscription.java
  backend/src/main/java/com/allog/dallog/domain/subscription/dto/response/SubscriptionResponse.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/allog/dallog/common/fixtures/SubscriptionFixtures.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/SubscriptionTest.java
Labels: backend, feature

#199 [feat] BaseEntity의 패키지 위치를 변경한다.
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/common/BaseEntity.java
  backend/src/main/java/com/allog/dallog/domain/member/domain/Member.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/Subscription.java
Labels: backend, chore

#204 [feat] 일정 조회 기능을 수정한다.
  frontend/src/@types/index.ts
  frontend/src/@types/schedule.ts
  frontend/src/api/schedule.ts
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/hooks/useCalendar.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/utils/index.ts
Labels: frontend, feature

#218 [feat] 카테고리 이름 검색 기능을 구현한다.
  frontend/src/@types/index.ts
  frontend/src/api/category.ts
  frontend/src/components/@common/Fieldset/Fieldset.stories.tsx
  frontend/src/components/@common/Fieldset/Fieldset.styles.ts
  frontend/src/components/@common/Fieldset/Fieldset.tsx
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/CategoryList/CategoryList.stories.tsx
  frontend/src/components/CategoryList/CategoryList.styles.ts
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/CategoryModifyModal/CategoryModifyModal.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, feature

#219 [feat] 일정 추가 기능을 수정한다.
  backend/src/docs/asciidoc/schedule.adoc
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/request/ScheduleCreateRequest.java
  backend/src/main/java/com/allog/dallog/domain/schedule/presentation/ScheduleController.java
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
  backend/src/test/java/com/allog/dallog/acceptance/ScheduleAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/ScheduleAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ScheduleFixtures.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/ScheduleRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/ScheduleTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/presentation/ScheduleControllerTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/presentation/SubscriptionControllerTest.java
Labels: backend, feature

#210 [feat] 카테고리 제목 검색 기능을 추가한다.
  backend/src/docs/asciidoc/category.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/category/presentation/CategoryController.java
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/CategoryAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/category/presentation/CategoryControllerTest.java
Labels: backend, feature

#220 [feat] github actions의 jdk를 변경한다.
  .github/workflows/backend-ci.yml
Labels: devops, chore

#225 [feat] 회원의 닉네임을 수정하는 기능을 추가한다.
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/member/domain/Member.java
  backend/src/main/java/com/allog/dallog/domain/member/dto/MemberUpdateRequest.java
  backend/src/main/java/com/allog/dallog/domain/member/presentation/MemberController.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/presentation/CategoryControllerTest.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/member/domain/MemberTest.java
  backend/src/test/java/com/allog/dallog/domain/member/presentation/MemberControllerTest.java
Labels: backend, feature

#228 [feat] 일정을 달력에 그린다.
  frontend/src/api/schedule.ts
  frontend/src/components/Calendar/Calendar.styles.ts
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/hooks/useCalendar.ts
  frontend/src/hooks/useSchedulePriority.ts
  frontend/src/mocks/data.ts
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/utils/date.ts
Labels: frontend, feature

#230 비로그인 시 사이드바를 숨긴다.
  frontend/src/components/NavBar/NavBar.tsx
Labels: frontend, ui

#231 [feat] 회원 닉네임을 수정한다.
  frontend/src/api/profile.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/MyPage/MyPage.styles.ts
  frontend/src/pages/MyPage/MyPage.tsx
Labels: frontend, feature

#233 [feat] 구독 카테고리 목록의 체크 박스 필터링 기능을 구현한다.
  frontend/package.json
  frontend/src/@types/subscription.ts
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.styles.ts
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
Labels: frontend, feature

#236 [feat] 로딩 스피너 컴포넌트를 구현한다.
  frontend/package.json
  frontend/src/components/@common/Spinner/Spinner.stories.tsx
  frontend/src/components/@common/Spinner/Spinner.styles.ts
  frontend/src/components/@common/Spinner/Spinner.tsx
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.styles.ts
  frontend/src/components/FilterCategoryList/FilterCategoryList.tsx
  frontend/src/components/MyCategoryList/MyCategoryList.styles.ts
  frontend/src/components/MyCategoryList/MyCategoryList.tsx
  frontend/src/components/SideBar/SideBar.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/MyPage/MyPage.styles.ts
  frontend/src/pages/MyPage/MyPage.tsx
Labels: frontend, feature

#221 [feat] 일정 단건 조회 기능을 구현한다.
  backend/src/docs/asciidoc/schedule.adoc
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/request/ScheduleCreateRequest.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/ScheduleResponse.java
  backend/src/main/java/com/allog/dallog/domain/schedule/exception/NoSuchScheduleException.java
  backend/src/main/java/com/allog/dallog/domain/schedule/presentation/ScheduleController.java
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
  backend/src/test/java/com/allog/dallog/acceptance/ScheduleAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/ScheduleAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ScheduleFixtures.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/ScheduleRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/ScheduleTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/presentation/ScheduleControllerTest.java
Labels: backend, feature

#238 [feat] 일정 추가 모달 컴포넌트를 수정한다.
  frontend/package.json
  frontend/src/api/schedule.ts
  frontend/src/components/@common/Fieldset/Fieldset.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/utils/date.ts
Labels: frontend, feature, ui

#222 [feat] 일정 삭제 기능을 구현한다.
  backend/src/docs/asciidoc/schedule.adoc
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/request/ScheduleUpdateRequest.java
  backend/src/main/java/com/allog/dallog/domain/schedule/presentation/ScheduleController.java
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
  backend/src/test/java/com/allog/dallog/acceptance/ScheduleAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/ScheduleAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ScheduleFixtures.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/presentation/ScheduleControllerTest.java
Labels: backend, feature

#237 [feat] 구독 수정 기능을 구현한다.
  backend/src/docs/asciidoc/subscription.adoc
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/Subscription.java
  backend/src/main/java/com/allog/dallog/domain/subscription/dto/SubscriptionUpdateRequest.java
  backend/src/main/java/com/allog/dallog/domain/subscription/presentation/SubscriptionController.java
  backend/src/test/java/com/allog/dallog/acceptance/SubscriptionAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/SubscriptionAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/SubscriptionTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/presentation/SubscriptionControllerTest.java
Labels: backend, feature

#241 [feat] MySQL 연동을 위한 라이브러리를 추가한다.
  backend/build.gradle
Labels: backend, setting

#246 [feat] 달력 뷰 렌더링과 일정 조회 기능을 분리한다.
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, feature

#248 [fix] 일정 추가 요청을 수정한다.
  frontend/src/api/schedule.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/utils/date.ts
Labels: frontend, bug

#250 [feat] 구독 카테고리 목록 수정 기능을 구현한다.
  frontend/src/@types/subscription.ts
  frontend/src/api/subscription.ts
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.tsx
Labels: frontend, feature

#253 [feat] 카테고리 생성 시 해당 카테고리 구독을 요청한다.
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
Labels: frontend, feature

#257 [fix] 종일 일정 추가 시 하루의 일정만 추가되는 에러를 수정한다.
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
Labels: frontend, bug

#259 [test] 버튼과 입력 필드 컴포넌트 테스트를 추가한다.
  .github/workflows/frontend-ci.yml
  frontend/.storybook/preview.js
  frontend/jest.config.js
  frontend/package.json
  frontend/setupFile.js
  frontend/src/components/@common/Button/Button.stories.tsx
  frontend/src/components/@common/Button/Button.test.tsx
  frontend/src/components/@common/Fieldset/Fieldset.test.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.stories.tsx
  frontend/yarn.lock
Labels: frontend, test

#242 [feat] 일정 수정 기능을 구현한다.
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
Labels: backend, feature

#255 [fix] '나의 카테고리' 컴포넌트의 변경 사항을 '구독 카테고리' 컴포넌트에 실시간으로 반영한다.
  frontend/src/components/CategoryModifyModal/CategoryModifyModal.tsx
  frontend/src/components/MyCategoryItem/MyCategoryItem.tsx
  frontend/src/mocks/handlers.ts
Labels: frontend, bug, feature

#251 [feat] 일정 목록 조회 기능을 수정한다.
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/ScheduleRepository.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/schedules/ScheduleComparator.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/schedules/ScheduleType.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/schedules/Schedules.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/schedules/TypedSchedules.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/request/DateRangeRequest.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/MemberScheduleResponse.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/MemberScheduleResponses.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/SchedulesResponse.java
  backend/src/main/java/com/allog/dallog/domain/schedule/presentation/ScheduleController.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ScheduleFixtures.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/ScheduleTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/schedules/SchedulesTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/schedules/SortedSchedulesTest.java
Labels: backend, feature

#263 [fix] 일정 메모의 공백 입력을 허용한다.
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/request/ScheduleCreateRequest.java
Labels: backend, bug

#264 [chore] 로고와 파비콘을 변경한다.
  frontend/src/assets/dallog_black.png
  frontend/src/assets/dallog_color.png
  frontend/src/assets/dallog_white.png
  frontend/src/components/NavBar/NavBar.styles.ts
  frontend/src/components/NavBar/NavBar.tsx
  frontend/webpack.config.js
Labels: frontend, chore

#268 [ci] 젠킨스 파이프라인 스크립트를 형상관리할 수 있도록 개선한다.
  jenkins/backend-dev.jenkinsfile
  jenkins/backend-prod.jenkinsfile
  jenkins/frontend-prod.jenkinsfile
Labels: backend, devops

#269 [fix] 구독 정보가 있는 카테고리 삭제가 되지 않는 이슈를 해결한다.
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
Labels: backend, bug

#266 [feat] 로거가 StackTrace도 함께 로깅하도록 개선한다.
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
  backend/src/main/java/com/allog/dallog/global/error/dto/ErrorReportRequest.java
Labels: backend, devops

#273 [ci] 젠킨스의 빌드가 성공 혹은 실패 했을 때 해당 사항을 디스코드에 알리는 스크립트를 추가한다.
  jenkins/backend-dev.jenkinsfile
  jenkins/backend-prod.jenkinsfile
  jenkins/frontend-prod.jenkinsfile
Labels: devops

#286 [ci] 젠킨스 파이프라인 문법 오류 수정
  jenkins/backend-dev.jenkinsfile
  jenkins/backend-prod.jenkinsfile
Labels: bug, devops

#280 [docs] 일정 전체 조회 관련 기능 API 문서를 작성한다.
  backend/src/docs/asciidoc/schedule.adoc
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/MemberScheduleResponse.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/MemberScheduleResponses.java
  backend/src/test/java/com/allog/dallog/domain/schedule/presentation/ScheduleControllerTest.java
Labels: backend, document

#302 [feat] 구독의 색상 관련 기능을 구현한다.
  backend/src/docs/asciidoc/subscription.adoc
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/MemberScheduleResponse.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/Color.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/ColorPickerStrategy.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/Subscription.java
  backend/src/main/java/com/allog/dallog/domain/subscription/dto/SubscriptionUpdateRequest.java
  backend/src/main/java/com/allog/dallog/domain/subscription/dto/request/SubscriptionCreateRequest.java
  backend/src/main/java/com/allog/dallog/domain/subscription/dto/request/SubscriptionUpdateRequest.java
  backend/src/main/java/com/allog/dallog/domain/subscription/dto/response/SubscriptionResponse.java
  backend/src/main/java/com/allog/dallog/domain/subscription/presentation/SubscriptionController.java
  backend/src/test/java/com/allog/dallog/acceptance/SubscriptionAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/SubscriptionFixtures.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/presentation/ScheduleControllerTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/ColorTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/SubscriptionTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/presentation/SubscriptionControllerTest.java
Labels: backend, feature

#298 [style] 메인 색상을 변경한다.
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/styles/theme.ts
Labels: frontend, ui

#314 사이드 바의 default 상태를 변경한다.
  frontend/src/recoil/atoms/index.ts
Labels: frontend, feature

#316 [feat] 달력에 오늘 날짜를 표시한다.
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/utils/date.ts
Labels: frontend, feature

#318 [style] 단일 일정의 렌더링 방식을 변경한다.
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, ui

#303 [feat] 유저 개인 카테고리 기능을 구현한다.
  backend/src/docs/asciidoc/subscription.adoc
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/category/dto/request/CategoryCreateRequest.java
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/presentation/CategoryControllerTest.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/presentation/SubscriptionControllerTest.java
Labels: backend, feature

#305 [refactor] 연속된 일정을 종일 선택시 날짜가 하루 더 선택되는 버그를 수정한다.
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Period.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/schedules/ScheduleType.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ScheduleFixtures.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/PeriodTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/ScheduleTest.java
Labels: backend, bug, refactor

#319 [feat] 나의 카테고리 목록을 카테고리 페이지로 이동한다.
  frontend/src/components/@common/Fieldset/Fieldset.tsx
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/MyCategoryItem/MyCategoryItem.style.ts
  frontend/src/components/MyCategoryItem/MyCategoryItem.tsx
  frontend/src/components/MyCategoryList/MyCategoryList.styles.ts
  frontend/src/components/MyCategoryList/MyCategoryList.tsx
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.tsx
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, feature

#321 [feat] 프로필 페이지를 삭제하고 모달로 변경한다.
  frontend/src/App.tsx
  frontend/src/components/@common/Fieldset/Fieldset.styles.ts
  frontend/src/components/@common/ModalPortal/ModalPortal.styles.ts
  frontend/src/components/@common/ModalPortal/ModalPortal.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/Profile/Profile.styles.ts
  frontend/src/components/Profile/Profile.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/MyPage/MyPage.styles.ts
  frontend/src/pages/MyPage/MyPage.tsx
Labels: frontend, feature

#324 [fix] 비로그인 상태에 사이드 바가 보이는 에러를 수정한다.
  frontend/src/components/SideBar/SideBar.tsx
Labels: frontend, bug

#325 [fix] Category 스키마 변경으로 인해 data.sql를 수정한다.
  backend/src/main/resources/data.sql
Labels: backend, bug

#327 [fix] develop에 적용된 submodule을 활용하도록 젠킨스 스크립트 파일을 수정한다.
  jenkins/backend-dev.jenkinsfile
  jenkins/backend-prod.jenkinsfile
Labels: backend, bug, devops

#311 [refactor] Schedule.getSubscriptionColor() 예외가 발생하면 커스텀 예외를 던지도록 변경한다.
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/schedules/ScheduleType.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/MemberScheduleResponses.java
Labels: backend, refactor

#332 [feat] 시작 페이지 콘텐츠를 작성한다.
  frontend/src/App.tsx
  frontend/src/assets/how_to_use_1.png
  frontend/src/components/NavBar/NavBar.styles.ts
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/LoginPage/LoginPage.styles.ts
  frontend/src/pages/LoginPage/LoginPage.tsx
  frontend/src/pages/StartPage/StartPage.styles.ts
  frontend/src/pages/StartPage/StartPage.tsx
Labels: frontend, feature

#339 [style] 컬러 팔레트 색상을 변경한다.
  frontend/src/@types/schedule.ts
  frontend/src/@types/subscription.ts
  frontend/src/api/subscription.ts
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, ui

#313 [refactor] scheduleService.getSchedulesFrom()의 성능을 개선한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/ScheduleRepository.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/request/DateRangeRequest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ScheduleFixtures.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/ScheduleRepositoryTest.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
Labels: backend, refactor

#346 [feat] 나의 구독 목록 스켈레톤 UI 작성 카테고리 목록 스켈레톤 UI 작성
  frontend/src/components/@common/Skeleton/Skeleton.stories.tsx
  frontend/src/components/@common/Skeleton/Skeleton.styles.ts
  frontend/src/components/@common/Skeleton/Skeleton.tsx
  frontend/src/components/CategoryList/CategoryList.fallback.stories.tsx
  frontend/src/components/CategoryList/CategoryList.fallback.tsx
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.fallback.stories.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.fallback.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.styles.ts
  frontend/src/components/FilterCategoryList/FilterCategoryList.tsx
  frontend/src/components/MyCategoryList/MyCategoryList.fallback.tsx
  frontend/src/components/MyCategoryList/MyCategoryList.styles.ts
  frontend/src/components/MyCategoryList/MyCategoryList.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/Profile/Profile.fallback.stories.tsx
  frontend/src/components/Profile/Profile.fallback.tsx
  frontend/src/components/Profile/Profile.styles.ts
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, feature

#348 [refactor] 일정 조회 API 변경에 대응한다.
  frontend/src/api/schedule.ts
Labels: frontend, refactor

#340 [feat] 카테고리 생성시 생성자의 구독 목록에 생성된 카테고리를 추가한다.
  backend/src/main/java/com/allog/dallog/domain/auth/application/AuthService.java
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/CategorySubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/RegisterService.java
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/presentation/CategoryController.java
  backend/src/test/java/com/allog/dallog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/ScheduleAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/SubscriptionAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/AuthFixtures.java
  backend/src/test/java/com/allog/dallog/domain/auth/application/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CategorySubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/RegisterServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/infrastructure/oauth/client/StubOAuthClient.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/auth/AuthControllerTest.java
Labels: backend, feature, refactor

#343 [test] 테스트 코드의 중복되는 애노테이션을 제거한다.
  backend/src/test/java/com/allog/dallog/acceptance/AcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/SubscriptionAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/common/annotation/RepositoryTest.java
  backend/src/test/java/com/allog/dallog/common/annotation/ServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/auth/application/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CategorySubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/RegisterServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/ScheduleRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepositoryTest.java
  backend/src/test/java/com/allog/dallog/presentation/AuthControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/ControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/MemberControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/SubscriptionControllerTest.java
Labels: backend, refactor, test

#354 [feat] 일정 단건 조회 모달 컴포넌트를 구현한다.
  frontend/src/@types/schedule.ts
  frontend/src/api/category.ts
  frontend/src/components/@common/ModalPortal/ModalPortal.styles.ts
  frontend/src/components/@common/ModalPortal/ModalPortal.tsx
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/ScheduleModal/ScheduleModal.styles.ts
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.tsx
  frontend/src/constants/index.ts
  frontend/src/constants/style.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, feature, ui

#335 [feat] 회원 탈퇴 API를 구현한다.
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/main/java/com/allog/dallog/presentation/MemberController.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/MemberAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/MemberControllerTest.java
Labels: backend, feature

#344 [fix] DTO의 필드의 유효성 검증을 통과하지 못할경우 Internal Server Error가 발생하는 버그를 해결한다.
  backend/src/main/java/com/allog/dallog/domain/category/dto/request/CategoryCreateRequest.java
  backend/src/main/java/com/allog/dallog/domain/category/dto/request/CategoryUpdateRequest.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/request/ScheduleCreateRequest.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/request/ScheduleUpdateRequest.java
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
Labels: backend, feature

#345 [refactor] ScheduleService의 save 메소드가 Response DTO를 반환하도록 개선한다.
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/presentation/ScheduleController.java
  backend/src/test/java/com/allog/dallog/acceptance/ScheduleAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ScheduleFixtures.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
Labels: backend, refactor

#353 [test] 테스트 코드의 불필요한 트랜잭션을 제거한다.
  backend/src/test/java/com/allog/dallog/common/annotation/ServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CategorySubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/RegisterServiceTest.java
Labels: backend, test

#358 [feat] 입력 form의 유효성 검사를 진행한다.
  frontend/src/api/profile.ts
  frontend/src/api/schedule.ts
  frontend/src/components/@common/Button/Button.styles.ts
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/@common/Fieldset/Fieldset.styles.ts
  frontend/src/components/@common/Fieldset/Fieldset.tsx
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/CategoryModifyModal/CategoryModifyModal.tsx
  frontend/src/components/MyCategoryItem/MyCategoryItem.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/constants/date.ts
  frontend/src/constants/index.ts
  frontend/src/constants/message.ts
  frontend/src/hooks/useControlledInput.ts
  frontend/src/hooks/useValidateSchedule.ts
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/validation/index.ts
Labels: frontend, feature, refactor

#360 [style] 날짜 hover 스타일을 변경한다.
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
Labels: frontend, ui

#364 [refactor] 컬러 팔레트 색상을 변경한다.
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/Color.java
Labels: backend, refactor

#366 [feat] 일정 수정 기능을 구현한다.
  frontend/src/api/schedule.ts
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.styles.ts
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, feature

#362 [ci] 정적 분석 리포트를 생성하는 환경을 구축한다.
  .github/workflows/backend-analysis.yml
  .github/workflows/backend-ci.yml
  backend/build.gradle
Labels: backend, devops

#363 [refactor] Service 구조를 변경한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/CalendarService.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/RegisterService.java
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/main/java/com/allog/dallog/presentation/CategoryController.java
  backend/src/main/java/com/allog/dallog/presentation/MemberController.java
  backend/src/main/java/com/allog/dallog/presentation/ScheduleController.java
  backend/src/main/java/com/allog/dallog/presentation/SubscriptionController.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CalendarServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CategorySubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/RegisterServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepositoryTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/MemberControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/SubscriptionControllerTest.java
Labels: backend, refactor, architecture

#368 [ci] 소나큐브 관련 워크플로우의 오류를 수정한다.
  .github/workflows/backend-analysis.yml
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Labels: backend, devops

#372 [fix] 컬러 코드 대소문자 에러를 해결한다.
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/Color.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/ColorTest.java
Labels: backend, bug

#375 [feat] 제어할 수 없는 외부 영역에서 던지는 예외 상황을 로깅한다.
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleExternalCalendarClient.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleOAuthClient.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/exception/OAuthException.java
Labels: backend, feature

#370 [feat] 일정 삭제 기능을 구현한다.
  frontend/src/api/schedule.ts
  frontend/src/components/MyCategoryItem/MyCategoryItem.tsx
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/constants/message.ts
  frontend/src/mocks/handlers.ts
Labels: frontend, feature

#377 [fix] DB에 color enum 이름을 저장하도록 data.sql을 변경한다.
  backend/src/main/resources/data.sql
Labels: backend, bug

#379 [style] 시작 페이지와 카테고리 페이지의 스타일을 수정한다.
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/pages/StartPage/StartPage.styles.ts
Labels: frontend, ui

#384 [feat] 에러 핸들링을 진행한다.
  frontend/src/App.tsx
  frontend/src/components/@common/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/components/@common/Fieldset/Fieldset.tsx
  frontend/src/components/@common/Spinner/Spinner.styles.ts
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/CategoryModifyModal/CategoryModifyModal.tsx
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.tsx
  frontend/src/components/MyCategoryItem/MyCategoryItem.tsx
  frontend/src/components/MyCategoryList/MyCategoryList.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/components/SnackBar/SnackBar.styles.ts
  frontend/src/components/SnackBar/SnackBar.tsx
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/style.ts
  frontend/src/hooks/useSchedulePriority.ts
  frontend/src/hooks/useValidateSchedule.ts
  frontend/src/index.tsx
  frontend/src/pages/AuthPage/AuthPage.tsx
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/StartPage/StartPage.tsx
Labels: frontend, bug, feature, refactor

#382 [feat] 자신이 생성한 카테고리는 구독 취소할 수 없게 하는 기능을 구현한다.
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
Labels: backend, feature

#399 [cd] 백엔드 개발 서버 젠킨스 배포파일에 소나큐브 설정 추가
  jenkins/backend-dev.jenkinsfile
Labels: backend, devops

#383 [feat] 내가 만든 카테고리 리스트를 검색한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/presentation/CategoryController.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/CategoryAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
Labels: backend, feature

#385 [feat] 구글 캘린더의 특정 캘린더 일정 리스트를 조회한다.
  backend/src/main/java/com/allog/dallog/domain/externalcalendar/application/ExternalCalendarClient.java
  backend/src/main/java/com/allog/dallog/domain/externalcalendar/application/ExternalCalendarService.java
  backend/src/main/java/com/allog/dallog/domain/externalcalendar/dto/ExternalCalendarSchedule.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleExternalCalendarClient.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/dto/GoogleCalendarEventResponse.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/dto/GoogleCalendarEventsResponse.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/dto/GoogleDateFormat.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ExternalCalendarFixtures.java
  backend/src/test/java/com/allog/dallog/infrastructure/oauth/client/StubExternalCalendarClient.java
Labels: backend, feature

#394 [feat] 달력 view를 수정한다.
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.styles.ts
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useSchedulePriority.ts
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/StartPage/StartPage.styles.ts
Labels: frontend, feature

#403 [fix] 로그인 사용자의 access token 유효성을 검사한다.
  frontend/src/App.tsx
  frontend/src/api/category.ts
  frontend/src/api/login.ts
  frontend/src/api/profile.ts
  frontend/src/api/schedule.ts
  frontend/src/api/subscription.ts
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/CategoryModifyModal/CategoryModifyModal.tsx
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.fallback.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/ProtectRoute/ProtectRoute.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/index.ts
  frontend/src/hooks/useUserValue.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/AuthPage/AuthPage.tsx
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/MainPage/MainPage.tsx
  frontend/src/recoil/atoms/index.ts
  frontend/src/utils/index.ts
  frontend/src/utils/storage.ts
Labels: frontend, bug, feature

#402 [ci] 백엔드 코드 커버러지가 일정 수준 이하라면 빌드가 실패하도록 Jacoco를 설정한다.
  backend/build.gradle
Labels: backend, devops

#406 [fix] 카테고리 삭제 시 연관된 스케줄도 삭제한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/RegisterService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/ScheduleRepository.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/MemberScheduleResponse.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/ScheduleResponse.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/ScheduleRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepositoryTest.java
Labels: backend, bug

#409 [refactor] 에러 처리 로직을 리팩토링한다.
  frontend/src/App.tsx
  frontend/src/components/@common/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/CategoryModifyModal/CategoryModifyModal.tsx
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.tsx
  frontend/src/components/MyCategoryItem/MyCategoryItem.tsx
  frontend/src/components/MyCategoryList/MyCategoryList.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.tsx
  frontend/src/index.tsx
  frontend/src/pages/AuthPage/AuthPage.tsx
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/StartPage/StartPage.tsx
Labels: frontend, etc, refactor

#400 [feat] 모든 일정을 조작하기 위한 IntegrationSchedule을 추가한다.
  backend/build.gradle
  backend/src/main/java/com/allog/dallog/domain/composition/application/CalendarService.java
  backend/src/main/java/com/allog/dallog/domain/integrationschedule/dao/IntegrationScheduleDao.java
  backend/src/main/java/com/allog/dallog/domain/integrationschedule/domain/IntegrationSchedule.java
  backend/src/main/java/com/allog/dallog/domain/integrationschedule/domain/IntegrationScheduleComparator.java
  backend/src/main/java/com/allog/dallog/domain/integrationschedule/domain/IntegrationSchedules.java
  backend/src/main/java/com/allog/dallog/domain/integrationschedule/domain/Period.java
  backend/src/main/java/com/allog/dallog/domain/integrationschedule/domain/ScheduleType.java
  backend/src/main/java/com/allog/dallog/domain/integrationschedule/domain/TypedSchedules.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/ScheduleRepository.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/schedules/ScheduleType.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/schedules/Schedules.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/schedules/TypedSchedules.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/MemberScheduleResponse.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/MemberScheduleResponses.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ScheduleFixtures.java
  backend/src/test/java/com/allog/dallog/domain/integrationschedule/dao/IntegrationScheduleDaoTest.java
  backend/src/test/java/com/allog/dallog/domain/integrationschedule/domain/IntegrationScheduleTest.java
  backend/src/test/java/com/allog/dallog/domain/integrationschedule/domain/IntegrationSchedulesTest.java
  backend/src/test/java/com/allog/dallog/domain/integrationschedule/domain/PeriodTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/ScheduleRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/ScheduleTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/schedules/SchedulesTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/schedules/SortedSchedulesTest.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
Labels: backend, feature

#414 [feat] CD 시점에 백엔드 개발서버에 대한 소나큐브 정적 분석을 실행한다.
  backend/build.gradle
  jenkins/backend-dev.jenkinsfile
Labels: backend, devops

#415 [feat] NotFound 페이지를 구현한다.
  frontend/src/App.tsx
  frontend/src/hooks/useUserValue.ts
  frontend/src/pages/NotFoundPage/NotFoundPage.styles.ts
  frontend/src/pages/NotFoundPage/NotFoundPage.tsx
Labels: frontend, feature

#417 [feat] 일정의 시작 날짜 및 종료 날짜를 자동으로 설정하는 기능을 구현한다.
  frontend/src/components/@common/Fieldset/Fieldset.tsx
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/CategoryModifyModal/CategoryModifyModal.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/hooks/useControlledInput.ts
  frontend/src/hooks/useValidateSchedule.ts
  frontend/src/utils/date.ts
Labels: frontend, feature

#413 [feat] 동기화를 선택한 구글 캘린더에 대한 정보를 카테고리로 저장하고 구독한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryType.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/ExternalCategoryDetail.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/ExternalCategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/category/dto/request/CategoryCreateRequest.java
  backend/src/main/java/com/allog/dallog/domain/category/dto/request/ExternalCategoryCreateRequest.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/CategorySubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/RegisterService.java
  backend/src/main/java/com/allog/dallog/presentation/ExternalCalendarController.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/allog/dallog/acceptance/ExternalCalendarAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ExternalCategoryFixtures.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CategorySubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/ExternalCalendarControllerTest.java
Labels: backend, feature, architecture

#422 [ci] 프론트엔드 개발서버 배포 스크립트를 추가한다.
  jenkins/frontend-dev.jenkinsfile
Labels: frontend, devops

#390 [chore] CI 시점의 소나큐브 정적분석을 제거한다.
  .github/workflows/backend-analysis.yml
  backend/src/main/resources/db/prod/schema.sql
Labels: backend, devops

#423 [feat] 내 일정 카테고리의 이름 수정이나 삭제가 불가능 하도록 한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/RegisterService.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
Labels: backend, feature

#428 [feat] 일정 조회 시 연동된 외부 캘린더 일정까지 조회하도록 수정한다.
  backend/src/docs/asciidoc/external-calendar.adoc
  backend/src/docs/asciidoc/schedule.adoc
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/ExternalCategoryDetailRepository.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/ExternalCategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/category/exception/NoSuchExternalCategoryDetailException.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/CalendarService.java
  backend/src/main/java/com/allog/dallog/domain/externalcalendar/application/ExternalCalendarClient.java
  backend/src/main/java/com/allog/dallog/domain/integrationschedule/dao/IntegrationScheduleDao.java
  backend/src/main/java/com/allog/dallog/domain/integrationschedule/domain/IntegrationSchedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/MemberScheduleResponse.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/ScheduleResponse.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleExternalCalendarClient.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ExternalCalendarFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/IntegrationScheduleFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ScheduleFixtures.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CalendarServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/integrationschedule/domain/IntegrationScheduleTest.java
  backend/src/test/java/com/allog/dallog/domain/integrationschedule/domain/IntegrationSchedulesTest.java
  backend/src/test/java/com/allog/dallog/infrastructure/oauth/client/StubExternalCalendarClient.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
Labels: backend, feature

#431 [style] NotFound 페이지 레이아웃을 수정한다.
  frontend/src/pages/NotFoundPage/NotFoundPage.styles.ts
  frontend/src/pages/NotFoundPage/NotFoundPage.tsx
Labels: frontend, ui

#433 [feat] 날짜 단건 조회 모달 컴포넌트를 구현한다.
  frontend/src/@types/index.ts
  frontend/src/@types/schedule.ts
  frontend/src/components/DateModal/DateModal.styles.ts
  frontend/src/components/DateModal/DateModal.tsx
  frontend/src/components/ScheduleModal/ScheduleModal.styles.ts
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, feature, ui

#438 [feat] 구글 캘린더 일정 가져오기 기능을 구현한다.
  frontend/src/@types/googleCalendar.ts
  frontend/src/App.tsx
  frontend/src/api/googleCalendar.ts
  frontend/src/components/GoogleImportModal/GoogleImportModal.styles.ts
  frontend/src/components/GoogleImportModal/GoogleImportModal.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useControlledInput.ts
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, feature

#436 [fix] 외부 연동 카테고리는 일반 일정을 등록하거나 전체 조회할 수 없다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryType.java
  backend/src/main/java/com/allog/dallog/domain/category/dto/request/CategoryCreateRequest.java
  backend/src/main/java/com/allog/dallog/domain/schedule/application/ScheduleService.java
  backend/src/main/java/com/allog/dallog/presentation/CategoryController.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryTypeTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
Labels: backend, bug

#442 [ci] 프론트엔드 배포 script를 수정한다.
  .github/workflows/frontend-ci.yml
  frontend/package.json
Labels: frontend, devops

#440 [feat] 외부 캘린더가 중복 저장되지 않도록 한다.
  backend/src/docs/asciidoc/external-calendar.adoc
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/ExternalCategoryDetailRepository.java
  backend/src/main/java/com/allog/dallog/domain/category/exception/DuplicatedExternalCategoryException.java
  backend/src/main/java/com/allog/dallog/global/error/ControllerAdvice.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleExternalCalendarClient.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/ExternalCalendarControllerTest.java
Labels: backend, feature

#444 [ci] 젠킨스에서 프론트엔드 프로젝트 빌드시 npm 대신 yarn 을 사용하도록 변경한다.
  jenkins/frontend-dev.jenkinsfile
  jenkins/frontend-prod.jenkinsfile
Labels: frontend, devops

#447 [feat] RedirectURI를 프론트엔드에서 직접 받아 OAuth URI를 생성하도록 개선한다.
  backend/src/main/java/com/allog/dallog/domain/auth/application/AuthService.java
  backend/src/main/java/com/allog/dallog/domain/auth/application/OAuthUri.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/uri/GoogleOAuthUri.java
  backend/src/main/java/com/allog/dallog/presentation/auth/AuthController.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/AuthAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/domain/auth/application/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/AuthControllerTest.java
Labels: backend, feature

#449 [feat] RedirectURI를 프론트엔드에서 직접 받아 Access Token을 발급받도록 개선한다.
  backend/src/docs/asciidoc/auth.adoc
  backend/src/main/java/com/allog/dallog/domain/auth/application/AuthService.java
  backend/src/main/java/com/allog/dallog/domain/auth/application/OAuthClient.java
  backend/src/main/java/com/allog/dallog/domain/auth/dto/request/TokenRequest.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleOAuthClient.java
  backend/src/main/java/com/allog/dallog/presentation/auth/AuthController.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/AuthAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/AuthFixtures.java
  backend/src/test/java/com/allog/dallog/domain/auth/application/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/infrastructure/oauth/client/StubOAuthClient.java
  backend/src/test/java/com/allog/dallog/presentation/AuthControllerTest.java
Labels: backend, feature

#451 [fix] 로그인 요청을 수정한다.
  frontend/src/api/login.ts
Labels: frontend, bug

#452 [feat] 카테고리 생성 시 네이밍 유효성 검사를 추가한다.
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/CategoryModifyModal/CategoryModifyModal.tsx
  frontend/src/components/GoogleImportModal/GoogleImportModal.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/constants/index.ts
  frontend/src/constants/message.ts
  frontend/src/constants/validate.ts
  frontend/src/hooks/useValidateCategory.ts
  frontend/src/hooks/useValidateSchedule.ts
  frontend/src/validation/index.ts
Labels: frontend, feature

#455 [feat] 카테고리 추가 시 categoryType을 설정한다.
  frontend/src/@types/category.ts
  frontend/src/api/category.ts
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/GoogleImportModal/GoogleImportModal.tsx
  frontend/src/constants/category.ts
  frontend/src/mocks/handlers.ts
Labels: frontend, feature

#458 [fix] 제목 없는 일정도 받을 수 있게 수정한다.
  backend/src/main/java/com/allog/dallog/domain/externalcalendar/dto/ExternalCalendarSchedule.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/request/ScheduleCreateRequest.java
Labels: backend, bug

#459 [refactor] 일정의 id 타입을 변경한다.
  frontend/src/@types/schedule.ts
  frontend/src/api/schedule.ts
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, bug, refactor

#457 [refactor] 외부로 부터 연동한 카테고리도 삭제 가능하도록 변경
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/ExternalCategoryDetailRepository.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
Labels: backend, bug

#461 [feat] footer를 구현한다.
  frontend/src/App.tsx
  frontend/src/components/Footer/Footer.styles.ts
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/PublicRoute/PublicRoute.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/MainPage/MainPage.tsx
  frontend/src/pages/PrivacyPolicyPage/PrivacyPolicyPage.styles.ts
  frontend/src/pages/PrivacyPolicyPage/PrivacyPolicyPage.tsx
  frontend/src/pages/StartPage/StartPage.tsx
Labels: frontend, feature, ui

#465 [feat] 카테고리 조회(단건, 전체 모두)시 CategoryType을 함께 보내주도록 변경한다.
  backend/src/main/java/com/allog/dallog/domain/category/dto/response/CategoryResponse.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
Labels: backend, chore

#470 [feat] 카테고리 타입에 따라 구독, 수정 등의 권한 부여를 설정한다.
  frontend/src/@types/schedule.ts
  frontend/src/api/schedule.ts
  frontend/src/components/MyCategoryItem/MyCategoryItem.style.ts
  frontend/src/components/MyCategoryItem/MyCategoryItem.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.styles.ts
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/constants/message.ts
  frontend/src/mocks/data.ts
Labels: frontend, feature

#462 [fix] 불변의 emptyList로 인해 일정 추가가 불가능한 기능을 해결한다.
  backend/src/main/java/com/allog/dallog/domain/composition/application/CalendarService.java
Labels: backend, bug

#472 [fix] 겹치는 반복일정에서 일정 더보기가 나오지 않는 에러를 수정한다.
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, bug

#474 [fix] 달력 뷰를 넘어가는 장기 일정의 렌더링 오류를 수정한다.
  frontend/src/hooks/useSchedulePriority.ts
Labels: bug, feature

#468 [feat] 일정 조율 기능 API를 개발한다.
  backend/src/docs/asciidoc/schedule.adoc
  backend/src/main/java/com/allog/dallog/domain/composition/application/SchedulerService.java
  backend/src/main/java/com/allog/dallog/domain/integrationschedule/domain/IntegrationSchedule.java
  backend/src/main/java/com/allog/dallog/domain/integrationschedule/domain/Period.java
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/scheduler/Scheduler.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/request/DateRangeRequest.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/response/PeriodResponse.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/main/java/com/allog/dallog/presentation/SchedulerController.java
  backend/src/test/java/com/allog/dallog/acceptance/SchedulerAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/SchedulerServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/integrationschedule/domain/PeriodTest.java
  backend/src/test/java/com/allog/dallog/domain/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/domain/scheduler/SchedulerTest.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/SchedulerControllerTest.java
  backend/~/Desktop/jacoco/index.xml
Labels: backend, feature

#469 [fix] 일정의 제목이 비어있어도 수정할 수 있게 수정한다.
  backend/src/main/java/com/allog/dallog/domain/auth/dto/request/TokenRequest.java
  backend/src/main/java/com/allog/dallog/domain/category/dto/request/ExternalCategoryCreateRequest.java
  backend/src/main/java/com/allog/dallog/domain/externalcalendar/dto/ExternalCalendarSchedule.java
  backend/src/main/java/com/allog/dallog/domain/member/dto/MemberUpdateRequest.java
  backend/src/main/java/com/allog/dallog/domain/schedule/dto/request/ScheduleUpdateRequest.java
  backend/src/main/java/com/allog/dallog/domain/subscription/dto/request/SubscriptionUpdateRequest.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/dto/GoogleCalendarEventResponse.java
Labels: backend, bug

#476 [fix] 일정 삭제 시 달력에 바로 반영되지 않는 에러를 수정한다.
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
Labels: frontend, bug

#478 [feat] 카테고리 타입에 따라 description을 보여준다.
  frontend/src/@types/subscription.ts
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.styles.ts
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.tsx
  frontend/src/components/MyCategoryItem/MyCategoryItem.style.ts
  frontend/src/components/MyCategoryItem/MyCategoryItem.tsx
  frontend/src/components/ScheduleModal/ScheduleModal.styles.ts
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
Labels: frontend, feature

#480 [feat] 일정 조율 페이지 컴포넌트를 구현한다.
  frontend/src/@types/scheduler.ts
  frontend/src/App.tsx
  frontend/src/api/scheduler.ts
  frontend/src/components/@common/Fieldset/Fieldset.tsx
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/CategoryModifyModal/CategoryModifyModal.tsx
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.tsx
  frontend/src/components/GoogleImportModal/GoogleImportModal.tsx
  frontend/src/components/MyCategoryItem/MyCategoryItem.tsx
  frontend/src/components/MyCategoryList/MyCategoryList.tsx
  frontend/src/components/NavBar/NavBar.styles.ts
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/index.ts
  frontend/src/hooks/useUserValue.ts
  frontend/src/pages/AuthPage/AuthPage.tsx
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/SchedulingPage/SchedulingPage.styles.ts
  frontend/src/pages/SchedulingPage/SchedulingPage.tsx
  frontend/src/pages/StartPage/StartPage.tsx
Labels: frontend, feature, ui

#482 [fix] 복수 일정의 우선순위 에러를 수정한다.
  frontend/src/hooks/useSchedulePriority.ts
Labels: frontend, bug

#484 [feat] 구독 카테고리 필터링 후 로딩 시 스피너를 추가한다.
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.tsx
Labels: frontend, ui

#487 [fix] 프로필 수정 후 카테고리 페이지의 생성자가 바로 변하지 않는 에러를 수정한다.
  frontend/src/components/Profile/Profile.tsx
Labels: frontend, bug

#490 [feat] 입력 필드의 label을 추가한다.
  frontend/src/components/@common/Fieldset/Fieldset.styles.ts
  frontend/src/components/CategoryAddModal/CategoryAddModal.styles.ts
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/CategoryModifyModal/CategoryModifyModal.tsx
  frontend/src/components/GoogleImportModal/GoogleImportModal.styles.ts
  frontend/src/components/GoogleImportModal/GoogleImportModal.tsx
  frontend/src/components/Profile/Profile.styles.ts
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.styles.ts
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
Labels: frontend, feature, ui

#493 [feat] 일정 제목 비어있다면 "제목없음"으로 보여준다.
  frontend/src/components/DateModal/DateModal.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, ui

#479 [feat] 일정 조율 기능을 외부 일정(구글 캘린더)도 조율 대상에 포함하도록 개선한다.
  backend/src/docs/asciidoc/subscription.adoc
  backend/src/main/java/com/allog/dallog/domain/composition/application/CalendarService.java
  backend/src/main/java/com/allog/dallog/domain/integrationschedule/domain/IntegrationSchedule.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CalendarServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/SubscriptionControllerTest.java
Labels: backend, feature

#495 [feat] 일정 추가 시 카테고리 default 값을 설정한다.
  frontend/src/components/@common/Fieldset/Fieldset.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.styles.ts
  frontend/src/components/ScheduleModifyModal/ScheduleModifyModal.tsx
Labels: frontend, feature, ui

#496 [feat] 일정 조율 기능을 외부 일정(구글 캘린더)도 조율 대상에 포함하도록 개선한다.
  backend/src/main/java/com/allog/dallog/domain/composition/application/CalendarService.java
  backend/src/main/java/com/allog/dallog/domain/composition/application/SchedulerService.java
  backend/src/test/java/com/allog/dallog/domain/composition/application/CalendarServiceTest.java
Labels: backend, bug

#502 [cd] 소나큐브의 코드 커버리지를 높힌다.
  backend/build.gradle
Labels: backend, devops

#500 [style] 카테고리 페이지를 모드 선택을 토글로 변경한다.
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, ui

#504 [fix] 페이지 이동 시 사이드 바가 열리는 에러를 수정한다.
  frontend/src/App.tsx
  frontend/src/components/SideBar/SideBar.styles.ts
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/hooks/useUserValue.ts
  frontend/src/pages/NotFoundPage/NotFoundPage.tsx
  frontend/src/recoil/atoms/index.ts
Labels: bug, feature

#506 [fix] 스켈레톤 UI 렌더링 오류를 해결한다.
  frontend/src/assets/how_to_use_1.png
  frontend/src/assets/how_to_use_2.png
  frontend/src/assets/how_to_use_3.png
  frontend/src/components/FilterCategoryList/FilterCategoryList.fallback.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.styles.ts
  frontend/src/components/FilterCategoryList/FilterCategoryList.tsx
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/pages/StartPage/StartPage.styles.ts
  frontend/src/pages/StartPage/StartPage.tsx
Labels: frontend, bug, ui

#507 [style] 구글 캘린더 가져오기 버튼을 사이드 바로 옮긴다.
  frontend/src/components/FilterCategoryList/FilterCategoryList.styles.ts
  frontend/src/components/FilterCategoryList/FilterCategoryList.tsx
  frontend/src/components/SideBar/SideBar.styles.ts
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, ui

#511 [fix] 특정 달에서 달력이 렌더링되지 않는 에러를 수정한다.
  frontend/src/hooks/useSchedulePriority.ts
Labels: frontend, bug

#514 [fix] 다른 연도, 오늘 날짜에 today effect를 제거한다.
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, bug, ui

#517 [feat] 일정 렌더링을 수정한다.
  frontend/src/components/GoogleImportModal/GoogleImportModal.tsx
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, bug, feature, ui

#521 [refactor] 에러 처리 컴포넌트에서 스낵바 기능을 분리한다.
  frontend/src/App.tsx
  frontend/src/components/@common/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/SnackBar/SnackBar.styles.ts
Labels: frontend, refactor

#527 [fix] 외부 리소스에 대한 null 처리를 추가한다.
  backend/src/main/java/com/allog/dallog/domain/auth/domain/OAuthToken.java
Labels: backend, bug

#529 [feat] 모달 로딩 처리 및 일정 컬러 변경 애니메이션을 추가한다.
  backend/src/main/java/com/allog/dallog/domain/auth/domain/OAuthToken.java
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
Labels: frontend, ui

#530 [release] v0.1.2
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
Labels: release

#532 [docs] Readme를 작성한다.
  README.md
Labels: document
