Repository woowacourse-teams/2022-dallog, pull requests merged in 2022-11, with the labels that each got.

#896 [fix] 일정 더보기 모달 에러를 해결한다.
  frontend/src/components/MoreScheduleModal/MoreScheduleModal.tsx
Labels: frontend, bug

#893 [perf] 불필요한 렌더링을 최소화한다.
  frontend/.prettierrc.json
  frontend/src/@types/schedule.ts
  frontend/src/components/Calendar/Calendar.fallback.tsx
  frontend/src/components/Calendar/Calendar.styles.ts
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/CategoryControl/CategoryControl.tsx
  frontend/src/components/CategoryControl/CategoryCotrol.styles.ts
  frontend/src/components/DateCell/DateCell.styles.ts
  frontend/src/components/DateCell/DateCell.tsx
  frontend/src/components/MoreScheduleModal/MoreScheduleModal.styles.ts
  frontend/src/components/MoreScheduleModal/MoreScheduleModal.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/Schedule/Schedule.styles.ts
  frontend/src/components/Schedule/Schedule.tsx
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.styles.ts
  frontend/src/components/ScheduleModal/ScheduleModal.styles.ts
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/SideBarButton/SideBarButton.styles.ts
  frontend/src/components/SideBarButton/SideBarButton.tsx
  frontend/src/constants/index.ts
  frontend/src/constants/schedule.ts
  frontend/src/constants/style.ts
  frontend/src/domains/schedule.ts
  frontend/src/hooks/useCalendar.ts
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
  frontend/src/recoil/atoms/index.ts
  frontend/src/styles/GlobalStyle.tsx
Labels: frontend, perf

#897 [chore] Webpack 설정을 다시 점검하고 수정한다.
  frontend/babel.config.js
  frontend/package.json
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: frontend, setting

#898 [chore] Webpack 설정을 다시 점검하고 수정한다.
  frontend/babel.config.js
  frontend/package.json
  frontend/yarn.lock
Labels: frontend, setting

#904 [fix] 오타를 수정한다.
  frontend/babel.config.js
Labels: frontend

#905 [release] v1.1.6
  README.md
  frontend/.prettierrc.json
  frontend/babel.config.js
  frontend/package.json
  frontend/src/@types/category.ts
  frontend/src/@types/schedule.ts
  frontend/src/@types/util.ts
  frontend/src/App.tsx
  frontend/src/components/@common/PageLayout/PageLayout.styles.ts
  frontend/src/components/@common/PageLayout/PageLayout.tsx
  frontend/src/components/Calendar/Calendar.fallback.tsx
  frontend/src/components/Calendar/Calendar.styles.ts
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/CategoryControl/CategoryControl.tsx
  frontend/src/components/CategoryControl/CategoryCotrol.styles.ts
  frontend/src/components/CategoryList/CategoryList.fallback.tsx
  frontend/src/components/CategoryList/CategoryList.styles.ts
  frontend/src/components/DateCell/DateCell.styles.ts
  frontend/src/components/DateCell/DateCell.tsx
  frontend/src/components/MoreScheduleModal/MoreScheduleModal.styles.ts
  frontend/src/components/MoreScheduleModal/MoreScheduleModal.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/ProtectRoute/ProtectRoute.tsx
  frontend/src/components/Schedule/Schedule.styles.ts
  frontend/src/components/Schedule/Schedule.tsx
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.styles.ts
  frontend/src/components/ScheduleModal/ScheduleModal.styles.ts
  frontend/src/components/ScheduleModal/ScheduleModal.tsx
  frontend/src/components/SideAdminList/SideAdminList.tsx
  frontend/src/components/SideBar/SideBar.fallback.stories.tsx
  frontend/src/components/SideBar/SideBar.fallback.tsx
  frontend/src/components/SideBar/SideBar.styles.ts
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/components/SideBarButton/SideBarButton.styles.ts
  frontend/src/components/SideBarButton/SideBarButton.tsx
  frontend/src/components/SideGoogleList/SideGoogleList.tsx
  frontend/src/components/SideItem/SideItem.tsx
  frontend/src/components/SideSubscribedList/SideSubscribedList.tsx
  frontend/src/components/SubscriptionModifyModal/SubscriptionModifyModal.tsx
  frontend/src/constants/index.ts
  frontend/src/constants/schedule.ts
  frontend/src/constants/style.ts
  frontend/src/domains/schedule.ts
  frontend/src/hooks/@queries/category.ts
  frontend/src/hooks/@queries/subscription.ts
  frontend/src/hooks/useCalendar.ts
  frontend/src/hooks/useRootFontSize.ts
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
  frontend/src/pages/MainPage/MainPage.tsx
  frontend/src/pages/NotFoundPage/NotFoundPage.tsx
  frontend/src/recoil/atoms/index.ts
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/utils/index.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: release

#903 [refactor] event를 통해 member와 auth의 다른 도메인 패키지에 대한 의존성을 제거한다.
  backend/src/main/java/com/allog/dallog/domain/auth/application/AuthService.java
  backend/src/main/java/com/allog/dallog/domain/auth/domain/OAuthTokenRepository.java
  backend/src/main/java/com/allog/dallog/domain/auth/event/MemberSavedEvent.java
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/application/CategoryRoleService.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/dto/response/MemberWithRoleTypeResponse.java
  backend/src/main/java/com/allog/dallog/domain/categoryrole/dto/response/SubscribersResponse.java
  backend/src/main/java/com/allog/dallog/domain/member/application/MemberService.java
  backend/src/main/java/com/allog/dallog/domain/schedule/domain/ScheduleRepository.java
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/main/java/com/allog/dallog/presentation/CategoryController.java
  backend/src/test/java/com/allog/dallog/common/annotation/ServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/auth/application/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/auth/domain/OAuthTokenRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/domain/categoryrole/application/CategoryRoleServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/member/application/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
Labels: backend, refactor

#907 [refactor] 불필요하게 Application Context를 생성하는 로직을 제거하여 성능을 개선한다.
  backend/src/test/java/com/allog/dallog/acceptance/AcceptanceTest.java
  backend/src/test/java/com/allog/dallog/domain/auth/domain/InMemoryAuthTokenRepositoryTest.java
  backend/src/test/java/com/allog/dallog/presentation/AuthControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/CategoryControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/ControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/ExternalCalendarControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/MemberControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/ScheduleControllerTest.java
  backend/src/test/java/com/allog/dallog/presentation/SubscriptionControllerTest.java
Labels: backend, test

#915 [refactor] CategoryRole, ExternalCalendar, Member 도메인에 대한 통합테스트에 문장형 테스트를 적용한다.
  backend/src/test/java/com/allog/dallog/category/application/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/category/application/ExternalCategoryDetailServiceTest.java
  backend/src/test/java/com/allog/dallog/categoryrole/application/CategoryRoleServiceTest.java
  backend/src/test/java/com/allog/dallog/externalcalendar/application/ExternalCalendarServiceTest.java
  backend/src/test/java/com/allog/dallog/member/application/MemberServiceTest.java
Labels: backend, refactor, test

#917 [refactor] Schedule과 Subscription 도메인에 대한 통합테스트를 문장형테스트로 변경한다.
  backend/src/main/java/com/allog/dallog/categoryrole/domain/CategoryRoleRepository.java
  backend/src/test/java/com/allog/dallog/common/Constants.java
  backend/src/test/java/com/allog/dallog/schedule/application/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/subscription/application/SubscriptionServiceTest.java
Labels: backend, refactor, test
