Repository woowacourse-teams/2022-dallog, pull requests merged in 2022-07, with the labels that each got.

#8 [feat] 개발 환경 구축
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/babel.config.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.html
  frontend/src/index.tsx
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: frontend, setting

#10 [feat] 내비게이션 바 레이아웃을 그린다.
  frontend/.prettierrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/babel.config.js
  frontend/package.json
  frontend/src/@types/emotion.d.ts
  frontend/src/components/NavBar/NavBar.stories.tsx
  frontend/src/components/NavBar/NavBar.styles.ts
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/index.html
  frontend/src/index.tsx
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/styles/theme.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: frontend, feature

#12 [feat] 일정 추가 버튼 컴포넌트를 구현한다.
  frontend/src/components/@common/Button.stories.tsx
  frontend/src/components/@common/Button.styles.ts
  frontend/src/components/@common/Button.tsx
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.stories.tsx
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.styles.ts
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.tsx
  frontend/src/index.html
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/styles/theme.ts
Labels: frontend, feature

#14 [feat] 일정 등록 기능을 구현한다.
  backend/build.gradle
  backend/src/main/java/com/allog/dallog/schedule/controller/ScheduleController.java
  backend/src/main/java/com/allog/dallog/schedule/domain/Period.java
  backend/src/main/java/com/allog/dallog/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/schedule/domain/ScheduleRepository.java
  backend/src/main/java/com/allog/dallog/schedule/dto/request/ScheduleCreateRequest.java
  backend/src/main/java/com/allog/dallog/schedule/exception/InvalidPeriodException.java
  backend/src/main/java/com/allog/dallog/schedule/service/ScheduleService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/allog/dallog/DallogApplicationTests.java
  backend/src/test/java/com/allog/dallog/acceptance/AcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/SchedulesAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/schedule/domain/PeriodTest.java
  backend/src/test/java/com/allog/dallog/schedule/domain/ScheduleTest.java
  backend/src/test/java/com/allog/dallog/schedule/service/ScheduleServiceTest.java
Labels: backend, feature

#17 [feat] 일정 추가 모달 컴포넌트를 구현한다.
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/@types/emotion.d.ts
  frontend/src/components/@common/Button/Button.stories.tsx
  frontend/src/components/@common/Button/Button.styles.ts
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/@common/FieldSet/FieldSet.stories.tsx
  frontend/src/components/@common/FieldSet/FieldSet.styles.ts
  frontend/src/components/@common/FieldSet/FieldSet.tsx
  frontend/src/components/@common/ModalPortal/ModalPortal.styles.ts
  frontend/src/components/@common/ModalPortal/ModalPortal.tsx
  frontend/src/components/NavBar/NavBar.stories.tsx
  frontend/src/components/NavBar/NavBar.styles.ts
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.stories.tsx
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.styles.ts
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.stories.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/hooks/useModal.ts
  frontend/src/index.html
  frontend/src/styles/theme.ts
Labels: frontend, feature

#23 [docs] Issue 및 PR 템플릿의 제목 예제와 체크 리스트 항목을 추가한다.
  .github/ISSUE_TEMPLATE/bug-template.md
  .github/ISSUE_TEMPLATE/feature-template.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: setting

#24 [feat] 프론트엔드 CI Github Actions 스크립트를 추가한다.
  .github/workflows/frontend-ci.yml
Labels: frontend, setting

#26 [feat] 백엔드 및 프론트 빌드 자동화 기능을 추가한다.
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  frontend/package.json
Labels: backend, frontend, setting

#25 [feat] 일정 추가 기능을 구현한다.
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/components/@common/FieldSet/FieldSet.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/index.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/yarn.lock
Labels: frontend, feature

#29 [feat] 캘린더 페이지 레이아웃을 그린다.
  frontend/src/App.tsx
  frontend/src/components/@common/Button/Button.styles.ts
  frontend/src/components/@common/FieldSet/FieldSet.styles.ts
  frontend/src/components/@common/ModalPortal/ModalPortal.styles.ts
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/NavBar/NavBar.styles.ts
  frontend/src/components/PageLayout/PageLayout.styles.ts
  frontend/src/components/PageLayout/PageLayout.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/styles/theme.ts
Labels: frontend, feature, ui

#46 [refactor] 1차 스프린트 리팩토링을 진행한다.
  frontend/.eslintrc.json
  frontend/.storybook/preview-body.html
  frontend/package.json
  frontend/src/@types/index.ts
  frontend/src/App.tsx
  frontend/src/api/schedule.ts
  frontend/src/components/@common/FieldSet/FieldSet.styles.ts
  frontend/src/components/Calendar/Calendar.styles.ts
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/NavBar/NavBar.styles.ts
  frontend/src/components/PageLayout/PageLayout.styles.ts
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/constants/index.ts
  frontend/src/index.html
  frontend/src/mocks/handlers.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/utils/index.ts
  frontend/yarn.lock
Labels: frontend, refactor

#44 [feat] 일정 등록 기능의 예외를 추가한다.
  backend/src/main/java/com/allog/dallog/DallogApplication.java
  backend/src/main/java/com/allog/dallog/schedule/controller/ScheduleController.java
  backend/src/main/java/com/allog/dallog/schedule/domain/Period.java
  backend/src/main/java/com/allog/dallog/schedule/domain/Schedule.java
  backend/src/main/java/com/allog/dallog/schedule/dto/request/ScheduleCreateRequest.java
  backend/src/main/java/com/allog/dallog/schedule/dto/response/ScheduleResponse.java
  backend/src/main/java/com/allog/dallog/schedule/exception/InvalidPeriodException.java
  backend/src/main/java/com/allog/dallog/schedule/exception/InvalidScheduleException.java
  backend/src/main/java/com/allog/dallog/schedule/service/ScheduleService.java
  backend/src/test/java/com/allog/dallog/acceptance/ScheduleAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/schedule/domain/PeriodTest.java
  backend/src/test/java/com/allog/dallog/schedule/domain/ScheduleRepositoryTest.java
  backend/src/test/java/com/allog/dallog/schedule/domain/ScheduleTest.java
  backend/src/test/java/com/allog/dallog/schedule/service/ScheduleServiceTest.java
Labels: backend, refactor

#48 [feat] 카테고리 생성 기능을 구현한다.
  backend/src/main/java/com/allog/dallog/category/controller/CategoryController.java
  backend/src/main/java/com/allog/dallog/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/category/dto/request/CategoryCreateRequest.java
  backend/src/main/java/com/allog/dallog/category/exception/InvalidCategoryException.java
  backend/src/main/java/com/allog/dallog/category/service/CategoryService.java
  backend/src/test/java/com/allog/dallog/acceptance/AcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/ScheduleAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/category/domain/CategoryTest.java
  backend/src/test/java/com/allog/dallog/category/service/CategoryServiceTest.java
Labels: backend, feature

#50 [feat] 전체 카테고리 조회 기능을 구현한다.
  backend/src/main/java/com/allog/dallog/category/controller/CategoryController.java
  backend/src/main/java/com/allog/dallog/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/category/dto/response/CategoryResponse.java
  backend/src/main/java/com/allog/dallog/category/service/CategoryService.java
  backend/src/main/java/com/allog/dallog/global/dto/FindByPageResponse.java
  backend/src/main/java/com/allog/dallog/global/dto/ListResponse.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/category/service/CategoryServiceTest.java
Labels: backend, feature

#52 [feat] JPA Auditing을 적용한다.
  backend/src/main/java/com/allog/dallog/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/global/config/JpaConfig.java
  backend/src/main/java/com/allog/dallog/global/domain/BaseEntity.java
  backend/src/main/java/com/allog/dallog/schedule/domain/Schedule.java
  backend/src/test/java/com/allog/dallog/category/domain/CategoryRepositoryTest.java
Labels: backend, feature

#61 [feat] import 순서 규칙을 추가한다.
  frontend/.prettierrc.json
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/components/@common/Button/Button.stories.tsx
  frontend/src/components/@common/FieldSet/FieldSet.stories.tsx
  frontend/src/components/@common/FieldSet/FieldSet.tsx
  frontend/src/components/@common/ModalPortal/ModalPortal.tsx
  frontend/src/components/NavBar/NavBar.stories.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.stories.tsx
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.stories.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/index.tsx
  frontend/src/mocks/browser.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/styles/GlobalStyle.tsx
  frontend/yarn.lock
Labels: frontend, setting

#63 [feat] 리액트 라우터를 도입한다.
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/constants/index.ts
  frontend/src/index.tsx
  frontend/yarn.lock
Labels: frontend, setting

#55 [feat] 카테고리 조회 컴포넌트를 구현한다.
  frontend/.storybook/main.js
  frontend/src/@types/category.ts
  frontend/src/api/categories.ts
  frontend/src/components/CategoryItem/CategoryItem.stories.tsx
  frontend/src/components/CategoryItem/CategoryItem.styles.ts
  frontend/src/components/CategoryItem/CategoryItem.tsx
  frontend/src/components/CategoryList/CategoryList.stories.tsx
  frontend/src/components/CategoryList/CategoryList.styles.ts
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useIntersect.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, feature

#58 [feat] 일정 추가 모달에서 종일 기능을 구현한다.
  frontend/src/components/@common/FieldSet/FieldSet.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/utils/index.ts
  frontend/yarn.lock
Labels: frontend, feature

#65 [feat] 카테고리 생성 모달 컴포넌트를 구현한다.
  frontend/src/components/@common/FieldSet/FieldSet.tsx
  frontend/src/components/CategoryAddModal/CategoryAddModal.stories.tsx
  frontend/src/components/CategoryAddModal/CategoryAddModal.styles.ts
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
Labels: frontend, feature

#64 [feat] 소셜 로그인 모달 컴포넌트를 구현한다.
  frontend/.storybook/preview.js
  frontend/src/App.tsx
  frontend/src/api/login.ts
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/LoginModal/LoginModal.styles.ts
  frontend/src/components/LoginModal/LoginModal.tsx
  frontend/src/components/NavBar/NavBar.stories.tsx
  frontend/src/components/NavBar/NavBar.styles.ts
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/PageLayout/PageLayout.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/StartPage/StartPage.tsx
Labels: frontend, feature

#53 [feat] 소셜로그인 기능을 구현한다.
  backend/build.gradle
  backend/src/main/java/com/allog/dallog/DallogApplication.java
  backend/src/main/java/com/allog/dallog/auth/controller/AuthController.java
  backend/src/main/java/com/allog/dallog/auth/dto/OAuthMember.java
  backend/src/main/java/com/allog/dallog/auth/dto/TokenRequest.java
  backend/src/main/java/com/allog/dallog/auth/dto/TokenResponse.java
  backend/src/main/java/com/allog/dallog/auth/exception/InvalidTokenException.java
  backend/src/main/java/com/allog/dallog/auth/service/AuthService.java
  backend/src/main/java/com/allog/dallog/auth/support/JwtTokenProvider.java
  backend/src/main/java/com/allog/dallog/auth/support/OAuthClient.java
  backend/src/main/java/com/allog/dallog/auth/support/OAuthEndpoint.java
  backend/src/main/java/com/allog/dallog/global/config/RestTemplateConfig.java
  backend/src/main/java/com/allog/dallog/global/config/WebConfig.java
  backend/src/main/java/com/allog/dallog/global/dto/CommonResponse.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleOAuthClient.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/dto/GoogleTokenResponse.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/endpoint/GoogleOAuthEndpoint.java
  backend/src/main/java/com/allog/dallog/member/domain/Member.java
  backend/src/main/java/com/allog/dallog/member/domain/MemberRepository.java
  backend/src/main/java/com/allog/dallog/member/domain/SocialType.java
  backend/src/main/java/com/allog/dallog/member/exception/InvalidMemberException.java
  backend/src/main/java/com/allog/dallog/member/exception/NoSuchMemberException.java
  backend/src/main/java/com/allog/dallog/member/service/MemberService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/allog/dallog/auth/service/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/config/TestConfig.java
  backend/src/test/java/com/allog/dallog/infrastructure/oauth/client/StubOAuthClient.java
  backend/src/test/java/com/allog/dallog/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/allog/dallog/member/domain/MemberTest.java
  backend/src/test/resources/application.properties
Labels: backend, feature

#56 [feat] 회원 및 소셜 로그인 관련 코드에 대한 테스트 코드를 추가한다.
  backend/src/test/java/com/allog/dallog/auth/service/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/auth/support/JwtTokenProviderTest.java
  backend/src/test/java/com/allog/dallog/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/allog/dallog/member/service/MemberServiceTest.java
Labels: backend, test

#67 [feat] 마이 페이지 컴포넌트를 구현한다.
  frontend/src/@types/profile.ts
  frontend/src/App.tsx
  frontend/src/api/profile.ts
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/MyPage/MyPage.styles.ts
  frontend/src/pages/MyPage/MyPage.tsx
Labels: frontend, feature

#77 [feat] file loader 및 react-icons를 설치한다.
  frontend/package.json
  frontend/src/@types/custom.d.ts
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: frontend, setting

#62 [feat] 유저 본인 정보 조회 기능을 구현한다.
  backend/src/main/java/com/allog/dallog/auth/dto/LoginMember.java
  backend/src/main/java/com/allog/dallog/auth/dto/TokenResponse.java
  backend/src/main/java/com/allog/dallog/auth/exception/EmptyAuthorizationHeaderException.java
  backend/src/main/java/com/allog/dallog/auth/exception/InvalidTokenException.java
  backend/src/main/java/com/allog/dallog/auth/support/AuthenticationPrincipal.java
  backend/src/main/java/com/allog/dallog/auth/support/AuthenticationPrincipalArgumentResolver.java
  backend/src/main/java/com/allog/dallog/auth/support/AuthorizationExtractor.java
  backend/src/main/java/com/allog/dallog/category/exception/InvalidCategoryException.java
  backend/src/main/java/com/allog/dallog/global/config/RestTemplateConfig.java
  backend/src/main/java/com/allog/dallog/global/config/WebConfig.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleOAuthClient.java
  backend/src/main/java/com/allog/dallog/member/controller/MemberController.java
  backend/src/main/java/com/allog/dallog/member/dto/MemberResponse.java
  backend/src/main/java/com/allog/dallog/member/exception/InvalidMemberException.java
  backend/src/main/java/com/allog/dallog/member/exception/NoSuchMemberException.java
  backend/src/main/java/com/allog/dallog/member/service/MemberService.java
  backend/src/main/java/com/allog/dallog/schedule/exception/InvalidScheduleException.java
  backend/src/test/java/com/allog/dallog/acceptance/AcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/auth/service/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/fixture/OAuthMemberFixtures.java
  backend/src/test/java/com/allog/dallog/infrastructure/oauth/client/StubOAuthClient.java
  backend/src/test/java/com/allog/dallog/schedule/controller/ScheduleControllerTest.java
Labels: backend, feature

#86 [feat] 구독 관련 엔티티를 설계한다.
  backend/src/main/java/com/allog/dallog/member/exception/InvalidMemberException.java
  backend/src/main/java/com/allog/dallog/subscription/domain/Subscription.java
  backend/src/main/java/com/allog/dallog/subscription/exception/InvalidSubscriptionException.java
  backend/src/test/java/com/allog/dallog/fixture/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/fixture/MemberFixtures.java
  backend/src/test/java/com/allog/dallog/subscription/domain/SubscriptionTest.java
Labels: backend, feature, architecture

#90 [chore] 불필요한 공통 Response를 제거한다.
  backend/src/main/java/com/allog/dallog/auth/controller/AuthController.java
  backend/src/main/java/com/allog/dallog/global/dto/CommonResponse.java
  backend/src/main/java/com/allog/dallog/member/controller/MemberController.java
  backend/src/test/java/com/allog/dallog/acceptance/AcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
Labels: backend, chore

#91 [feat] 달력 레이아웃 컴포넌트를 구현한다.
  frontend/src/@types/calendar.ts
  frontend/src/components/Calendar/Calendar.styles.ts
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/CalendarDate/CalendarDate.stories.tsx
  frontend/src/components/CalendarDate/CalendarDate.style.ts
  frontend/src/components/CalendarDate/CalendarDate.tsx
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/utils/date.ts
  frontend/src/utils/index.ts
Labels: frontend, feature, ui

#93 [test] 일정의 테스트 픽스처를 만든다.
  backend/src/main/java/com/allog/dallog/member/domain/Member.java
  backend/src/test/java/com/allog/dallog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/ScheduleAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/CommonAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/ScheduleAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/auth/service/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/common/config/TestConfig.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/MemberFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/OAuthMemberFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/ScheduleFixtures.java
  backend/src/test/java/com/allog/dallog/infrastructure/oauth/client/StubOAuthClient.java
  backend/src/test/java/com/allog/dallog/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/allog/dallog/schedule/domain/ScheduleRepositoryTest.java
  backend/src/test/java/com/allog/dallog/schedule/domain/ScheduleTest.java
  backend/src/test/java/com/allog/dallog/schedule/service/ScheduleServiceTest.java
  backend/src/test/java/com/allog/dallog/subscription/domain/SubscriptionTest.java
Labels: backend, refactor, test

#87 [feat] 슬라이싱(페이징) 기능을 리팩토링한다.
  backend/src/main/java/com/allog/dallog/category/controller/CategoryController.java
  backend/src/main/java/com/allog/dallog/category/dto/response/CategoriesResponse.java
  backend/src/main/java/com/allog/dallog/category/service/CategoryService.java
  backend/src/main/java/com/allog/dallog/global/dto/FindByPageResponse.java
  backend/src/main/java/com/allog/dallog/global/dto/ListResponse.java
  backend/src/main/java/com/allog/dallog/schedule/controller/ScheduleController.java
  backend/src/main/java/com/allog/dallog/schedule/dto/response/SchedulesResponse.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/category/service/CategoryServiceTest.java
Labels: backend, refactor

#98 [feat] 존재하는 카테고리를 기반으로 구독하는 기능을 구현한다.
  backend/src/main/java/com/allog/dallog/category/controller/CategoryController.java
  backend/src/main/java/com/allog/dallog/category/dto/response/CategoryResponse.java
  backend/src/main/java/com/allog/dallog/category/exception/NoSuchCategoryException.java
  backend/src/main/java/com/allog/dallog/category/service/CategoryService.java
  backend/src/main/java/com/allog/dallog/member/service/MemberService.java
  backend/src/main/java/com/allog/dallog/subscription/controller/SubscriptionController.java
  backend/src/main/java/com/allog/dallog/subscription/dto/request/SubscriptionCreateRequest.java
  backend/src/main/java/com/allog/dallog/subscription/dto/response/SubscriptionResponse.java
  backend/src/main/java/com/allog/dallog/subscription/exception/NoSuchSubscriptionException.java
  backend/src/main/java/com/allog/dallog/subscription/repository/SubscriptionRepository.java
  backend/src/main/java/com/allog/dallog/subscription/service/SubscriptionService.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/SubscriptionAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/category/service/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/OAuthMemberFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/SubscriptionFixtures.java
  backend/src/test/java/com/allog/dallog/subscription/service/SubscriptionServiceTest.java
Labels: backend, feature

#94 [feat] OAuth 인증 URI에 대한 DTO를 추가한다.
  backend/src/main/java/com/allog/dallog/auth/controller/AuthController.java
  backend/src/main/java/com/allog/dallog/auth/dto/OAuthUriResponse.java
  backend/src/main/java/com/allog/dallog/auth/service/AuthService.java
  backend/src/main/java/com/allog/dallog/auth/support/OAuthUri.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/uri/GoogleOAuthUri.java
  backend/src/test/java/com/allog/dallog/acceptance/AuthAcceptanceTest.java
Labels: backend, refactor

#101 [feat] 컴포넌트의 인가를 처리한다.
  frontend/.prettierrc.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/login.ts
  frontend/src/atoms/index.ts
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/LoginModal/LoginModal.styles.ts
  frontend/src/components/LoginModal/LoginModal.tsx
  frontend/src/components/ProtectRoute/index.tsx
  frontend/src/constants/index.ts
  frontend/src/index.tsx
  frontend/src/pages/AuthPage/AuthPage.tsx
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/MainPage/MainPage.tsx
  frontend/src/styles/theme.ts
  frontend/src/utils/index.ts
  frontend/yarn.lock
Labels: frontend, feature

#100 [feat] 카테고리의 테스트 픽스처를 만든다.
  backend/src/test/java/com/allog/dallog/acceptance/AcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/ScheduleAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/SubscriptionAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/CategoryAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/category/service/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
Labels: backend, refactor, test

#103 [refactor] 카테고리 엔티티와 기존의 생성기능을 수정한다.
  backend/src/main/java/com/allog/dallog/category/controller/CategoryController.java
  backend/src/main/java/com/allog/dallog/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/category/dto/request/CategoryCreateRequest.java
  backend/src/main/java/com/allog/dallog/category/dto/response/CategoryResponse.java
  backend/src/main/java/com/allog/dallog/category/service/CategoryService.java
  backend/src/main/java/com/allog/dallog/member/service/MemberService.java
  backend/src/test/java/com/allog/dallog/acceptance/AcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/SubscriptionAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/AuthAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/CategoryAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/category/domain/CategoryTest.java
  backend/src/test/java/com/allog/dallog/category/service/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/member/service/MemberServiceTest.java
  backend/src/test/java/com/allog/dallog/subscription/service/SubscriptionServiceTest.java
Labels: backend, refactor

#102 [feat] 구독 중인 카테고리 조회 기능을 구현한다.
  backend/src/main/java/com/allog/dallog/subscription/controller/SubscriptionController.java
  backend/src/main/java/com/allog/dallog/subscription/dto/response/SubscriptionsResponse.java
  backend/src/main/java/com/allog/dallog/subscription/repository/SubscriptionRepository.java
  backend/src/main/java/com/allog/dallog/subscription/service/SubscriptionService.java
  backend/src/test/java/com/allog/dallog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/SubscriptionAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/AuthAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/auth/service/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/MemberFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/SubscriptionFixtures.java
  backend/src/test/java/com/allog/dallog/subscription/domain/SubscriptionTest.java
  backend/src/test/java/com/allog/dallog/subscription/repository/SubscriptionRepositoryTest.java
  backend/src/test/java/com/allog/dallog/subscription/service/SubscriptionServiceTest.java
Labels: backend, feature

#108 [feat] 유저별 카테고리 구독하기 기능을 구현한다.
  frontend/.storybook/preview.js
  frontend/src/@types/subscription.ts
  frontend/src/api/subscription.ts
  frontend/src/components/CategoryItem/CategoryItem.styles.ts
  frontend/src/components/CategoryItem/CategoryItem.tsx
  frontend/src/components/CategoryList/CategoryList.styles.ts
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/SubscribeButton/SubscribeButton.stories.tsx
  frontend/src/components/SubscribeButton/SubscribeButton.styles.ts
  frontend/src/components/SubscribeButton/SubscribeButton.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, feature

#106 [feat] 자신이 생성한 카테고리 목록을 조회하는 기능을 구현한다.
  backend/src/main/java/com/allog/dallog/category/controller/CategoryController.java
  backend/src/main/java/com/allog/dallog/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/category/service/CategoryService.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/category/service/CategoryServiceTest.java
Labels: backend, feature

#114 [feat] 유저별 카테고리 구독 해제 기능을 구현한다.
  frontend/.storybook/preview.js
  frontend/src/api/subscription.ts
  frontend/src/components/CategoryItem/CategoryItem.tsx
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/handlers.ts
Labels: frontend, feature

#116 [chore] env를 설정한다.
  frontend/.gitignore
  frontend/package.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: frontend, setting

#110 [feat] 구독 중인 카테고리 구독 취소 기능을 구현한다.
  backend/src/main/java/com/allog/dallog/auth/exception/NoPermissionException.java
  backend/src/main/java/com/allog/dallog/subscription/controller/SubscriptionController.java
  backend/src/main/java/com/allog/dallog/subscription/repository/SubscriptionRepository.java
  backend/src/main/java/com/allog/dallog/subscription/service/SubscriptionService.java
  backend/src/test/java/com/allog/dallog/acceptance/SubscriptionAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/subscription/repository/SubscriptionRepositoryTest.java
  backend/src/test/java/com/allog/dallog/subscription/service/SubscriptionServiceTest.java
Labels: backend, feature

#107 [test] 유저와 인증의 테스트 픽스처를 만든다.
  backend/src/test/java/com/allog/dallog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/SubscriptionAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/AuthAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/CategoryAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/MemberAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/auth/service/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/allog/dallog/member/service/MemberServiceTest.java
Labels: backend, refactor, test

#120 [feat] 사이드 바 컴포넌트를 구현한다.
  frontend/src/App.tsx
  frontend/src/components/NavBar/NavBar.styles.ts
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/SideBar/SideBar.stories.tsx
  frontend/src/components/SideBar/SideBar.styles.ts
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/hooks/useModal.ts
  frontend/src/hooks/useToggle.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
Labels: frontend, feature, ui

#122 [feat] 초기 데이터를 세팅한다.
  backend/src/main/resources/application.properties
  backend/src/main/resources/data.sql
  backend/src/test/resources/application.properties
Labels: backend, chore

#123 [feat] 사이드 바 컴포넌트에 유저별 생성 카테고리 생성 기능을 연결한다.
  frontend/src/components/@common/ModalPortal/ModalPortal.styles.ts
  frontend/src/components/CategoryAddModal/CategoryAddModal.styles.ts
  frontend/src/components/SideBar/SideBar.stories.tsx
  frontend/src/components/SideBar/SideBar.tsx
Labels: frontend, feature

#111 [feat] 카테고리를 단건 조회하는 기능을 구현한다.
  backend/src/main/java/com/allog/dallog/auth/service/AuthService.java
  backend/src/main/java/com/allog/dallog/category/controller/CategoryController.java
  backend/src/main/java/com/allog/dallog/category/service/CategoryService.java
  backend/src/main/java/com/allog/dallog/member/service/MemberService.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/auth/service/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/category/service/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/MemberFixtures.java
  backend/src/test/java/com/allog/dallog/member/service/MemberServiceTest.java
Labels: backend, feature

#131 [docs] README에 Contributors를 추가한다.
  README.md
Labels: document

#127 [feat] 백엔드 개발 서버 API를 프론트엔드와 연동한다.
  frontend/src/@types/category.ts
  frontend/src/@types/profile.ts
  frontend/src/@types/subscription.ts
  frontend/src/api/category.ts
  frontend/src/api/index.ts
  frontend/src/api/login.ts
  frontend/src/api/profile.ts
  frontend/src/api/schedule.ts
  frontend/src/api/subscription.ts
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/CategoryItem/CategoryItem.stories.tsx
  frontend/src/components/CategoryItem/CategoryItem.tsx
  frontend/src/components/CategoryList/CategoryList.stories.tsx
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/AuthPage/AuthPage.tsx
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/CategoryPage/CategoryPage.tsx
  frontend/src/pages/MyPage/MyPage.tsx
Labels: frontend, feature

#124 [feat] 자신이 생성한 카테고리를 수정 및 삭제하는 기능을 구현한다.
  backend/src/main/java/com/allog/dallog/category/controller/CategoryController.java
  backend/src/main/java/com/allog/dallog/category/domain/Category.java
  backend/src/main/java/com/allog/dallog/category/domain/CategoryRepository.java
  backend/src/main/java/com/allog/dallog/category/dto/request/CategoryUpdateRequest.java
  backend/src/main/java/com/allog/dallog/category/service/CategoryService.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/CategoryAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/CommonAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/category/service/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/allog/dallog/schedule/domain/ScheduleRepositoryTest.java
  frontend/src/components/@common/Button/Button.tsx
Labels: backend, feature

#138 [refactor] 내비게이션 바 및 사이드 바 관련 컴포넌트를 리팩토링한다.
  frontend/.prettierrc.json
  frontend/src/App.tsx
  frontend/src/components/@common/PageLayout/PageLayout.styles.ts
  frontend/src/components/@common/PageLayout/PageLayout.tsx
  frontend/src/components/Calendar/Calendar.styles.ts
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/CategoryItem/CategoryItem.tsx
  frontend/src/components/CategoryList/CategoryList.styles.ts
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/ProtectRoute/index.tsx
  frontend/src/components/SideBar/SideBar.styles.ts
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/CategoryPage/CategoryPage.tsx
  frontend/src/pages/MainPage/MainPage.tsx
  frontend/src/pages/MyPage/MyPage.styles.ts
  frontend/src/pages/MyPage/MyPage.tsx
  frontend/src/recoil/atoms/index.ts
  frontend/src/recoil/selectors/index.ts
Labels: frontend, refactor

#139 [feat] 설정 파일의 형식을 변경한다.
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleOAuthClient.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/uri/GoogleOAuthUri.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.properties
  backend/src/test/resources/application.yml
Labels: backend, setting, chore

#142 [refactor] 회원 유무를 검증하는 로직을 ArgumentResolver로 이동시킨다.
  backend/src/main/java/com/allog/dallog/auth/exception/NotFoundMemberException.java
  backend/src/main/java/com/allog/dallog/auth/service/AuthService.java
  backend/src/main/java/com/allog/dallog/auth/support/AuthenticationPrincipalArgumentResolver.java
  backend/src/main/java/com/allog/dallog/auth/support/JwtTokenProvider.java
  backend/src/main/java/com/allog/dallog/category/dto/response/CategoriesResponse.java
  backend/src/main/java/com/allog/dallog/category/service/CategoryService.java
  backend/src/main/java/com/allog/dallog/member/service/MemberService.java
  backend/src/main/java/com/allog/dallog/subscription/service/SubscriptionService.java
  backend/src/test/java/com/allog/dallog/auth/service/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/schedule/controller/ScheduleControllerTest.java
Labels: backend, refactor

#152 [refactor] 달력 관련 컴포넌트를 리팩토링한다.
  frontend/src/components/@common/Button/Button.styles.ts
  frontend/src/components/@common/PageLayout/PageLayout.styles.ts
  frontend/src/components/Calendar/Calendar.styles.ts
  frontend/src/components/Calendar/Calendar.tsx
  frontend/src/components/CalendarDate/CalendarDate.stories.tsx
  frontend/src/components/CalendarDate/CalendarDate.style.ts
  frontend/src/components/CalendarDate/CalendarDate.tsx
  frontend/src/components/NavBar/NavBar.styles.ts
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/ScheduleAddButton/ScheduleAddButton.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/hooks/useCalendar.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/CalendarPage/CalendarPage.styles.ts
  frontend/src/pages/CalendarPage/CalendarPage.tsx
  frontend/src/pages/CategoryPage/CategoryPage.styles.ts
  frontend/src/pages/MyPage/MyPage.styles.ts
  frontend/src/styles/theme.ts
Labels: frontend, refactor

#153 [refactor] Auth 및 Member 도메인의 테스트 픽스처를 리팩토링한다.
  backend/src/main/java/com/allog/dallog/auth/exception/NotFoundMemberException.java
  backend/src/main/java/com/allog/dallog/auth/service/AuthService.java
  backend/src/main/java/com/allog/dallog/auth/support/AuthenticationPrincipalArgumentResolver.java
  backend/src/main/java/com/allog/dallog/member/service/MemberService.java
  backend/src/test/java/com/allog/dallog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/SubscriptionAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/auth/service/AuthServiceTest.java
  backend/src/test/java/com/allog/dallog/auth/support/JwtTokenProviderTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/AuthFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/MemberFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/OAuthMemberFixtures.java
  backend/src/test/java/com/allog/dallog/infrastructure/oauth/client/StubOAuthClient.java
  backend/src/test/java/com/allog/dallog/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/allog/dallog/member/domain/MemberTest.java
  backend/src/test/java/com/allog/dallog/member/service/MemberServiceTest.java
Labels: backend, refactor, test

#154 [refactor] Category 및 Subscription 도메인의 테스트 픽스처를 리팩토링한다.
  backend/src/test/java/com/allog/dallog/acceptance/CategoryAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/SubscriptionAcceptanceTest.java
  backend/src/test/java/com/allog/dallog/acceptance/fixtures/CategoryAcceptanceFixtures.java
  backend/src/test/java/com/allog/dallog/category/domain/CategoryRepositoryTest.java
  backend/src/test/java/com/allog/dallog/category/domain/CategoryTest.java
  backend/src/test/java/com/allog/dallog/category/service/CategoryServiceTest.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/MemberFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/SubscriptionFixtures.java
  backend/src/test/java/com/allog/dallog/subscription/domain/SubscriptionTest.java
  backend/src/test/java/com/allog/dallog/subscription/repository/SubscriptionRepositoryTest.java
  backend/src/test/java/com/allog/dallog/subscription/service/SubscriptionServiceTest.java
Labels: backend, refactor, test

#156 [refactor] 모달 관련 컴포넌트를 리팩토링한다.
  frontend/src/App.tsx
  frontend/src/components/@common/PageLayout/PageLayout.styles.ts
  frontend/src/components/CategoryAddModal/CategoryAddModal.styles.ts
  frontend/src/components/LoginModal/LoginModal.tsx
  frontend/src/components/NavBar/NavBar.stories.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/LoginPage/LoginPage.styles.ts
  frontend/src/pages/LoginPage/LoginPage.tsx
  frontend/src/pages/MainPage/MainPage.tsx
  frontend/src/pages/StartPage/StartPage.tsx
Labels: frontend, refactor

#158 [feat] 프로젝트 설정파일을 객체로 매핑한다.
  backend/src/main/java/com/allog/dallog/global/config/PropertiesConfig.java
  backend/src/main/java/com/allog/dallog/global/config/properties/GoogleProperties.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleOAuthClient.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/uri/GoogleOAuthUri.java
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.yml
Labels: backend, feature

#160 [refactor] 카테고리 관련 컴포넌트를 리팩토링한다.
  frontend/src/components/CategoryItem/CategoryItem.stories.tsx
  frontend/src/components/CategoryList/CategoryList.stories.tsx
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/SubscribeButton/SubscribeButton.stories.tsx
  frontend/src/components/SubscribeButton/SubscribeButton.styles.ts
  frontend/src/components/SubscribeButton/SubscribeButton.tsx
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.styles.ts
  frontend/src/components/SubscribedCategoryItem/SubscribedCategoryItem.tsx
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.styles.ts
  frontend/src/components/UnsubscribedCategoryItem/UnsubscribedCategoryItem.tsx
  frontend/src/pages/CategoryPage/CategoryPage.tsx
Labels: frontend, refactor

#163 [feat] 테스트 격리 방식을 변경한다.
  backend/src/test/java/com/allog/dallog/acceptance/AcceptanceTest.java
  backend/src/test/resources/truncate.sql
Labels: backend, test, chore

#159 [feat] Category의 예외 케이스 핸들링 로직을 추가한다.
  backend/src/main/java/com/allog/dallog/domain/category/application/CategoryService.java
  backend/src/main/java/com/allog/dallog/domain/category/presentation/CategoryController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/allog/dallog/domain/category/application/CategoryServiceTest.java
  backend/src/test/resources/application.yml
Labels: backend, feature, refactor, test

#161 [feat] Subscription의 예외 케이스 핸들링 로직을 추가한다.
  backend/src/main/java/com/allog/dallog/domain/subscription/application/SubscriptionService.java
  backend/src/main/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepository.java
  backend/src/main/java/com/allog/dallog/domain/subscription/exception/ExistSubscriptionException.java
  backend/src/main/java/com/allog/dallog/domain/subscription/presentation/SubscriptionController.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/src/test/java/com/allog/dallog/domain/subscription/application/SubscriptionServiceTest.java
  backend/src/test/java/com/allog/dallog/domain/subscription/domain/SubscriptionRepositoryTest.java
Labels: backend, refactor, test

#165 [refactor] Auth와 Member의 예외 케이스 핸들링 로직을 추가한다.
  backend/src/main/java/com/allog/dallog/domain/auth/application/AuthService.java
  backend/src/main/java/com/allog/dallog/domain/member/domain/Member.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/client/GoogleOAuthClient.java
  backend/src/main/java/com/allog/dallog/infrastructure/oauth/exception/OAuthException.java
  backend/src/test/java/com/allog/dallog/common/fixtures/MemberFixtures.java
  backend/src/test/java/com/allog/dallog/domain/member/domain/MemberTest.java
Labels: backend, refactor

#166 [feat] 글로벌 Exception Handler를 구현한다.
  backend/src/main/java/com/allog/dallog/global/dto/ErrorResponse.java
  backend/src/main/java/com/allog/dallog/global/presentation/ControllerAdvice.java
Labels: backend, feature

#169 [feat] 스낵바를 구현한다.
  frontend/src/App.tsx
  frontend/src/components/SnackBar/SnackBar.styles.ts
  frontend/src/components/SnackBar/SnackBar.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useSnackBar.ts
  frontend/src/recoil/atoms/index.ts
Labels: frontend, feature

#170 [test] Member에 대한 컨트롤러 테스트를 추가한다.
  backend/.gitignore
  backend/build.gradle
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/docs/asciidoc/schedule.adoc
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/com/allog/dallog/common/fixtures/AuthFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/MemberFixtures.java
  backend/src/test/java/com/allog/dallog/domain/member/presentation/MemberControllerTest.java
  backend/src/test/java/com/allog/dallog/domain/schedule/presentation/ScheduleControllerTest.java
Labels: backend, test

#179 [feat] 유저별 생성 카테고리 조회 기능을 구현한다.
  frontend/src/api/category.ts
  frontend/src/components/Calendar/Calendar.styles.ts
  frontend/src/components/CategoryAddModal/CategoryAddModal.tsx
  frontend/src/components/CategoryList/CategoryList.tsx
  frontend/src/components/MyCategoryList/MyCategoryList.styles.ts
  frontend/src/components/MyCategoryList/MyCategoryList.tsx
  frontend/src/components/NavBar/NavBar.styles.ts
  frontend/src/components/ScheduleAddModal/ScheduleAddModal.tsx
  frontend/src/components/SideBar/SideBar.styles.ts
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
Labels: frontend, feature

#175 [test] 테스트 격리 방식을 개선한다.
  backend/src/test/java/com/allog/dallog/acceptance/AcceptanceTest.java
  backend/src/test/java/com/allog/dallog/common/DatabaseCleaner.java
  backend/src/test/resources/truncate.sql
Labels: backend, test

#180 [feat] Request Body를 생략하고 요청하면 Internal Server Error가 발생하는 버그를 해결한다.
  backend/src/main/java/com/allog/dallog/global/presentation/ControllerAdvice.java
Labels: backend, bug

#181 [feat] 사이드 바에서 구독한 카테고리 목록 기능을 구현한다.
  frontend/src/@types/subscription.ts
  frontend/src/components/CategoryList/CategoryList.styles.ts
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.styles.ts
  frontend/src/components/FilterCategoryItem/FilterCategoryItem.tsx
  frontend/src/components/FilterCategoryList/FilterCategoryList.styles.ts
  frontend/src/components/FilterCategoryList/FilterCategoryList.tsx
  frontend/src/components/MyCategoryList/MyCategoryList.styles.ts
  frontend/src/components/SideBar/SideBar.styles.ts
  frontend/src/components/SideBar/SideBar.tsx
  frontend/src/constants/index.ts
Labels: frontend, feature

#184 [feat] 유저별 생성 카테고리 삭제 기능을 구현한다.
  frontend/src/api/category.ts
  frontend/src/components/MyCategoryItem/MyCategoryItem.style.ts
  frontend/src/components/MyCategoryItem/MyCategoryItem.tsx
  frontend/src/components/MyCategoryList/MyCategoryList.styles.ts
  frontend/src/components/MyCategoryList/MyCategoryList.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
Labels: frontend, feature

#172 [test] Auth에 대한 컨트롤러 테스트를 추가한다.
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/test/java/com/allog/dallog/common/fixtures/AuthFixtures.java
  backend/src/test/java/com/allog/dallog/domain/auth/presentation/AuthControllerTest.java
  backend/src/test/java/com/allog/dallog/domain/member/presentation/MemberControllerTest.java
Labels: backend, test, document

#173 [test] Subscription에 대한 컨트롤러 테스트를 추가한다.
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/subscription.adoc
  backend/src/main/java/com/allog/dallog/domain/subscription/presentation/SubscriptionController.java
  backend/src/main/java/com/allog/dallog/global/presentation/ControllerAdvice.java
  backend/src/test/java/com/allog/dallog/common/fixtures/CategoryFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/MemberFixtures.java
  backend/src/test/java/com/allog/dallog/common/fixtures/SubscriptionFixtures.java
  backend/src/test/java/com/allog/dallog/domain/subscription/presentation/SubscriptionControllerTest.java
Labels: backend, test, document
